[2018-05-22 21:44] rob-keepsafe opened #2 "[Warnings] Conflicting return type in TwilioVoice.h via release build"
### Description

When building for release configuration using `xcodebuild`, we're seeing this warning:

Base declaration from `NSObject` here:

<img width="1215" alt="screen shot 2018-05-23 at 11 12 37 am" src="https://user-images.githubusercontent.com/30269720/40433538-3d5c0ee0-5e7a-11e8-86e2-846ba3c3c357.png">

### Steps to Reproduce

1. Integrate into project using CocoaPods
2. Build with `-co

[2018-05-22 22:10] bchen-twilio commented on #2
Hi @rob-keepsafe

Thanks for reporting this! We will investigate and provide fix as soon as we can.

[2018-05-30 20:50] bchen-twilio commented on #2
Hi @rob-keepsafe

While we are trying to fix this we realized that this will introduce an API break. We are in fact working on refactoring our core stack and we expect APIs to be updated, so we will make this change in the new version.

For now, will adding the `-Woverriding-method-mismatch` flag considered an acceptable workaround for you?

[code]

Sorry for the inconvenience.

Thanks
-bobie

[2018-05-30 21:55] rob-keepsafe commented on #2
No worries, that works for us @bchen-twilio ! Thanks!

[2018-05-30 22:07] bchen-twilio commented on #2
Thanks @rob-keepsafe !
Really appreciate your understanding and thanks again for reporting this issue.
👍

[2018-05-30 22:07] #2 closed

[2018-06-01 21:23] jonburs opened #4 "SDK crash calling TwilioVoice calls:params:delegate"
### Description

Attempting to make an outgoing call resulted in the application crashing:

Crashed: com.twilio.TVOCommandHandler.commandQ
EXC_BREAKPOINT 0x000000000000defe

Full stack trace is in the "logs" section below

### Steps to Reproduce

We've only seen the crash once, as captured via Crashlytics.

#### Code

[code]

#### Expected Behavior
The call connects to the specified client

#### A

[2018-06-01 21:44] bchen-twilio commented on #4
Hi @jonburs

Thanks for reporting the issue and providing the stack trace.

Although the steps seem to be straightforward, it would still be great if you can provide SDK log (`.verbose) if you manage to reproduce the crash with your application, in case we might have missed some cases in our quickstart sample apps and internal testapp. Once we have more info of how to repro then we have more confi

[2018-06-01 23:04] jonburs commented on #4
Thanks Bobie. I'll add a log if I'm able to reproduce locally, and am looking forward to the SDK update.

[2018-06-01 23:05] bchen-twilio commented on #4
TYVM! @jonburs

[2018-08-28 17:06] qaysdwekat opened #5 "Can't integrate twilio using carthage"
### Description

I'm trying to integrate twilio to my app using carthage

### Steps to Reproduce

1. add `github "twilio/twilio-voice-ios"` to your cartfile
2. run `carthage bootstrap --platform iOS --cache-builds`

#### Expected Behavior

framework download normally

#### Actual Behavior
[code]

#### Voice iOS SDK

2.0.5 via Carthage version 0.29.0

#### Xcode

9.4.1

[2018-08-28 17:41] bchen-twilio commented on #5
Hi @qaysdwekat

I tried quickly with both `2.0.5` and `2.0.6` and was able to download the framework correctly. I've also found ([this thread](https://stackoverflow.com/questions/35054788/carthage-no-shared-framework-schemes-for-ios-platform-for-my-own-framework)) that this seems to be a common issue for application developers integrating libraries using Carthage.

Let me know if this helps.
-bobi

[2018-11-17 13:54] majum opened #6 "Ending a call before connected won't cancel and send correct webhook"
### Description

I use [voice conference](https://www.twilio.com/voice/conference).

Hanging up a call before it is connected does not actually hang. The reason behind is that I am actually unable to hang up the call because call (`TVOCall`) object has not been initialized yet, so, calling `call?.disconnect()` has no effect where `call` object is nil. I can't find any other method to tell `Twilio

[2018-11-27 11:57] bchen-twilio commented on #6
Hi @majum

Sorry for my delay of getting back to you.
`TwilioVoice.call()` should return a non-nil `TVOCall` object and you can use the object to disconnect the call.

-bobie

[2018-12-05 01:57] DrBeak1 opened #7 "AVAudioSessionPortImpl.mm:56:ValidateRequiredFields"
### Description

When trying to call, error:
`[avas] AVAudioSessionPortImpl.mm:56:ValidateRequiredFields: Unknown selected data source for Port Speaker (type: Speaker)`

### Steps to Reproduce

1. Try to make a call

#### Code

[code]

#### Expected Behavior

Call is connected

#### Actual Behavior

Call fails due to AVAudio issues.

#### Reproduces How Often

100%

#### Logs

[code]

### Versions

[2018-12-05 02:09] bchen-twilio commented on #7
Hi @DrBeak1,

Thanks for trying out the 3.0 preview! and thanks for reporting the issue.
While I am moving the issue under our radar and will have a look soon as possible, would you mind moving this issue to the [quickstart repo](https://github.com/twilio/voice-quickstart-objc)?

Thanks
-bobie

[2018-12-05 02:11] DrBeak1 commented on #7
@bchen-twilio sure - I can definitely move the issue. FYI - this is also happening in 2.0.7, which is I thought was a stable build. My initial implementation was working, now this error is happening on every attempt. So it's not just on the preview build.

[2018-12-10 18:03] jocelynlih opened #8 "Call an invalid phone number, call ends without any prompt feedback"
### Description

Call an invalid phone number, call ends without any prompt feedback.

### Steps to Reproduce

1. Call an invalid phone number: the phone number is formatted correctly, but the phone number is invalid or not existed. An example number is 888 555 5512
2. Call ended without any notice

#### Code

Sample code

#### Expected Behavior

1. It will be great to hear a audio message to remi

[2018-12-10 18:55] bchen-twilio commented on #8
Hi @jocelynlih

Thanks for reporting the issue. I've tried the example number you provided and from what I can see the mobile client only got a normal `no-answer` result and the call ended without any error since the parent call leg (mobile client <--> Twilio service) was connected successfully based on the actions specified in the TwiML response.
The error callback will only be raised when the SD

[2018-12-10 20:18] jocelynlih commented on #8
Thx @bchen-twilio, so the problem is the current user experience seems not clear (If the typo occurs when entering a phone number, it’s not clear that the phone number is invalid. It’s connected and then ended. ) It will be great to have some error code from the SDK side so we can use that to inform user inside our app.

[2019-02-11 17:24] cyomike opened #9 "Receiving phone call during muted TwilioVoice call sends audio through muted call after phone call disconnects."
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

When our app is running with the TVO call set to muted status and we receive and then disconnect an incoming regular phone call, the TVO call status says it is muted

[2019-02-11 19:06] bchen-twilio commented on #9
Hi @cyomike

Thanks for creating the issue with such great descriptions and debugging logs.
This is indeed a bug in the SDK - the SDK monitors the `UIApplicationDidBecomeActiveNotification` event and re-establishes the signaling connection if necessary (for example, active calls). The Voice SDK will also try to re-establish media (audio) connection according to the `onHold` property of the `TVOCal

[2019-02-11 19:23] cyomike commented on #9
Thank you very much for the prompt response, Bobie.  Makes perfect sense and fits exactly with what we are seeing.

Is there some way for me to work around this issue?  My first thought was to simply set the muted flag once the app becomes active again.  But this had no effect.  We've also tried disconnecting and re-connecting the call and this appears to work much of the time.  Is there anything

[2019-02-11 19:53] bchen-twilio commented on #9
Hi @cyomike

I am afraid that currently there is no easy way to workaround this issue from the application's side. Question to you: is this a common use case in your app that the call is muted when there is an audio interruption, for example another PSTN call?

To keep track of the SDK updates, you can either get release notifications from this repository or keep an eye on the [changelog of the Vo

[2019-02-11 20:37] cyomike commented on #9
Hi Bobie,

Yes, it is a very common use case for us to have the call muted.  I would guess 80-90% of the time, the call is muted.  We only unmute when the user presses a button.

Thanks for the info on watching updates and on Voice 3.0.  Will let you know when we can move forward on migrating our app to 3.0.

Mike

[2019-02-11 20:40] bchen-twilio commented on #9
Thanks Mike! Will keep you updated.
-bobie

[2019-02-12 17:45] cyomike commented on #9
Hi Bobie,

We attempted a workaround.  When our app returns to active status, we wait a couple seconds and then set the isMuted property to true.  This works some of the time but other times we see messages like this one:

     [ERROR TVOCall] Inside provideStats, failed to get call signal level

Eventually, after seeing this message 25-30 times, the call disconnects.  Do you have any idea why we

[2019-02-12 18:36] bchen-twilio commented on #9
Hi Mike

Normally attempting to mute the call should not meddle with the signaling/media reconnection but we can take a look at the log to root cause the failure when this happens.

-bobie

[2019-03-15 09:34] lowki93 commented on #7
Hi, i have the same issue on 3.0.0-beta5

[2019-03-25 07:26] monoqlo opened #10 "TVOCallInvite can't be accepted after failing to connect a call because of no Internet connection"
### Description

`TVOCallInvite` can't accept a call after failure because of no Internet connection.

### Steps to Reproduce

1. Receive a call with CallKit
2. Disconnect Internet connection (turn off Wi-Fi Router, etc)
3. Confirm no Internet connection on status bar
4. Answer the call
5. The call connection fails
6. Connect Internet
6. Receive another new call
7. Answer the call
8. The call conn

[2019-03-25 19:29] bchen-twilio commented on #10
Hi @monoqlo

This seems to be a bug in the 2.0 SDK that some static resources of the SDK is not properly cleaned up when the first call failed. This is resolved in the upcoming 3.0 Voice iOS SDK. The API names are slightly different from the 2.0 APIs but the call flow is basically the same, plus some great additions like the `callDidStartRinging:` callback and better audio device management. To up

[2019-03-26 03:02] monoqlo commented on #10
@bchen-twilio Thank you for speedy reply!

3.0 Voice SDK is still preview version.
I'm concerned about the stability. Does it work stably?

I'll use this SDK for an important function in production App.
Is it ok to use 3.0 SDK?

[2019-03-26 16:51] bchen-twilio commented on #10
Hi @monoqlo

The 3.0 SDK is in the last phase of beta and will soon be officially GA so please feel safe to upgrade. The validations and test coverage we have show significant improvements of the 3.0 SDK over 2.0, especially around the media connection stability.

-bobie

[2019-03-27 00:59] monoqlo commented on #10
Hi @bchen-twilio

OK, I am grateful for your support.

[2019-03-27 00:59] #10 closed

[2019-03-27 01:02] bchen-twilio commented on #10
@monoqlo
Sure thing. Please feel free to reach out to us if you need any assistance in the future.

-ボービー

[2019-06-01 18:36] jbohman opened #13 "TwilioVoice 3.1.0 Crash - NSInvalidArgumentException"
### Description

I'm trying to use TwilioVoice 3.1.0 (through CocoaPods) and integrate it as a native module in react-native but whenever I try to use connectWithOptions it crashes.

If you need any more information, I'll be happy to help resolve this issue.

### Steps to Reproduce

1. Start app
2. Navigate to section that uses the native module (from react native)
3. Wait for server to return acc

[2019-06-03 14:42] spalmertwilio commented on #13
For the ice server, are you generating the correct credentials?  Please see: https://www.twilio.com/docs/stun-turn?code-sample=code-generate-nts-token&code-language=C%23&code-sdk-version=5.x#linkcode

[2019-06-03 18:47] bobiechen-twilio commented on #13
Hi @jbohman

Sorry for not responding back to you sooner since this does sound a really bad experience.
Thanks for reporting the issue with detailed descriptions. I've checked the source where the crash happened though it seem odd that the object being inserted into the dictionary was nil.

Could you please provide us the `.trace` level SDK log so we can look into and figure out what caused the cr

[2019-06-03 21:20] jbohman commented on #13
Hello @bchen-twilio

Thank you for your response, I've attached a trace log on a crash from iOS Simulator, iPhone XR, [twilio.log](https://github.com/twilio/twilio-voice-ios/files/3249500/twilio.log). I can try on a real device tomorrow if that is better.

When you say no ICE options, do you mean just not passing it? Because if I don't set iceOptions at all it still crashes.

It happens before I h

[2019-06-04 23:28] bobiechen-twilio commented on #13
Hi @jbohman

Thanks for the updates 👍.

After some debugging I have identified that the crash is due to one of the properties of the `TVOCall` object has not yet been initialized before the SDK tries to insert it to a dictionary. This happens especially easily when the first time a call is made while the user is prompted for microphone permission but the underlying signaling stack is still running

[2019-06-06 22:06] bobiechen-twilio commented on #13
Hi Joel,

We've just release the [Voice iOS SDK 3.1.1](https://www.twilio.com/docs/voice/voip-sdk/ios/3x-changelog#311) which includes the fix for this issue. Please update and let us know if the issue is fixed. Thanks again for reporting the issue.

Thanks,
-bobie

[2019-06-07 11:23] jbohman commented on #13
Hello @bchen-twilio

I can confirm that my app no longer crashes after the update. Thank you very much for the quick solution!

But I've run into another issue now, I always get `503 Service Unavailable` error in didFailToConnectWithError method. Should I create a new issue or what is the correct process? Could it be related to why the value was `nil`?

[2019-06-07 16:34] bobiechen-twilio commented on #13
Hi Joel,

Thanks for confirming that the update works for you!

I am closing this issue as fixed but yes, for the `503` error, please feel free to create a new issue with the steps, environment configuration and the `.trace` level SDK log so we can investigate.

-bobie

[2019-06-07 16:34] #13 closed, assigned to bobiechen-twilio

[2019-06-07 17:02] jbohman opened #14 "Service Unavailable error when trying to connect"
### Description

I can't connect to a conference call using the iOS SDK. I only get `Service Unavailable` every time I try. I've attached code and logs below.

### Steps to Reproduce

1. Start app
2. Navigate to section that uses the code below
3. Wait for server to return access token and ice servers
4. Access token and ice servers are sent to connect function
5. call with `didFailToConnectWithEr

[2019-06-18 06:38] jbohman commented on #14
Hello again,

Any update to this? I've tried to set it up for Android as well and seem to get the same issue.

What I've not setup is the VoIP settings for iOS, are those required? From the documentation it seems like they are only required if you want to receive a call but not make an outgoing call.

The `to` parameter I'm calling is a string such as `jlFrjrMIODn8TqR2wflu/wlXWTm5Mm23Wdz0XMM75` co

[2019-06-18 17:16] bobiechen-twilio commented on #14
Hi Joel,

I am sorry for my lack of response.
It seems like that despite of the Twilio NTS credentials being provided as `TVOIceOptions`, the SDK still had trouble establishing the signaling connection in your network environment. Could you check if there is a certain range of network ports, especially port `3478` which is used for the Twilio STUN/TURN service?

Thanks
-bobie

[2019-06-18 20:08] jbohman commented on #14
Hello bobie!

I've tried this link https://networktest.twilio.com/ in the browser (Chrome) on my computer and it works fine (WIFI network).

I've also tried the TURN servers using: https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/ and they seem to work(?).

I tried running the iOS app and the android app in release mode on devices and running both on LTE and WIFI and no diff

[2019-06-18 20:29] bobiechen-twilio commented on #14
Hi joel

Thanks for the update.

Were you able to make calls successfully with the SDK, but using the STUN/TURN credentials from https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/?

Could you please provide the SDK log when it failed to make calls using LTE connection?

SIP ([Session Initiation Protocol](https://en.wikipedia.org/wiki/Session_Initiation_Protocol)) is the proto

[2019-06-18 20:56] jbohman commented on #14
I never took any credentials from this site, I just entered the TURN servers I got from the API call (https://api.twilio.com/2010-04-01/Accounts/${twilioConfig.account_sid}/Tokens.json). Same credentials I use in the app.

And for example if I entered the UDP one (turn:global.turn.twilio.com:3478?transport=udp) with bad credentials it told me it was bad credentials, and then if I added the correct

[2019-06-18 21:10] bobiechen-twilio commented on #14
Thanks for the additional info Joel.

If it's not too much trouble for you, could you help us try using a different device or the simulator?
Based on what you described the Twilio Network Traversal Service does offer valid connectivity but somehow the network interface (both Wifi and LTE) on the device doesn't allow the connection.

-bobie

[2019-06-19 17:05] jbohman commented on #14
I've tried it on an iPhone 7 as well. Same issue, it fails with `503 Service Unavailable`.

See attached log below:

[code]

Best regards,
Joel

[2019-06-19 22:28] bobiechen-twilio commented on #14
Thanks for providing additional logs.
I went back to the original description of the issue and realized that the key you used for extracting stun/turn credential is `password`, while the key the Twilio NTS uses is `credential`. Could you please check if the app can make the call with the username and credential?

Thanks
-bobie

[2019-06-20 07:01] jbohman commented on #14
Before I call the `connect` function in my original post I actually rename the credential field to password so that should not be an issue.

[code]

And the server-side code that returns the iceServers and access token looks like this (maybe there is something wrong or missing there):

[code]

And I've confirmed that the TwiML voice app endpoint is never called so it doesn't get that far at all.

[2019-06-20 21:14] bobiechen-twilio commented on #14
Thanks for the clarification Joel!
The SIP `503` error, similar to its friend in the HTTP world, typically means that the client is having trouble reaching to the service, which echoes what we observed in the SDK log. It's odd that the RN plug-in would block the application/SDK from making connections since we have definitely seen people using RN plug-in able to create their Voice SDK bindings and

[2019-06-24 12:53] jbohman commented on #14
Thanks for the explanation of the `503`. I've not had the time yet to get the getting started project running yet. Any luck with the backend experts?

I think I've already provided the trace level logs for those module, this is the settings for all previous logs in this issue:

[code]

[2019-06-24 19:46] jbohman commented on #14
Hello again @bchen-twilio !

Got the get started project (without CallKit) to run but still same issue `503 Service Unavailable`. I've attached the log from the last run at the end of this post. The run is from the simulator (iPhone Xr) with firewall turned off on my Macbook Pro and using Wi-Fi. All permissions in the app was accepted before this run (notification/microphone).

I also tried to set

[2019-06-24 22:15] bobiechen-twilio commented on #14
Hi Joel,

Sorry this took this so long. I finally got the help from our backend expert and it might actually failed due to the callee's identity. Our backend expert pulled out some additional logs based on the call info from your logs and found that the call parameter list seemed to be broken (`X-Twilio-Params: to=`).

I did try a alice-to-bob call and registered bob as `jlFrjrMIODn8TqR2wflu/wlXWT

[2019-06-25 07:17] jbohman commented on #14
Hello!

So to answer the first question, what I set as `TVOConnectOptions.params` is this (now I'm back at my real application not the get started example):

```["to": "jlFrjrMIODn8TqR2wflu/wlXWTm5Mm23Wdz0XMM75"]```

I've also tried to url encode it before so the slash is turned into %2F but no luck still 503. And if I read the documentation for `TVOConnectOptions.params` it says:

The Twilio 1323

[2019-06-25 07:54] jbohman commented on #14
Ahh I found the issue(s)!

First of all, it should not be `to` but instead `To`. But that was a minor issue as it seems like `to` was still passed but call logs show for example `To` being empty but `to` containing a value.

The bigger issue and what is causing the 503 is that the `outgoingApplicationParams` contains a non-string value. It seems like only strings are supported. When I changed `isM

[2019-06-25 16:36] bobiechen-twilio commented on #14
Glad to see that the issue has been identified and resolved!

The `To` key of the parameter list is one of the default keys used by Twilio. It's up to the user's business logic to decide which parameter(s), default or custom, to be used for further actions.

We will definitely work on improving the documentation to provide better experience in the future.

It was great pleasure working with you. I

[2019-06-25 16:36] #14 closed, assigned to bobiechen-twilio

[2019-10-01 23:49] dkornev opened #20 "Carthage doesn't download the prebuilt framework for v5.*"
### Description

When you are installing the Twilio Voice v5.0.0 framework using Carthage, it doesn't download the prebuild archived framework.

### Steps to Reproduce

1. Create a new _Cartfile_ file with one line there:
`github "twilio/twilio-voice-ios" == 5.0.0`
2. Run _carthage update_
3. Check generated files in _/Carthage/Build/iOS/_ folder

#### Expected Behavior

_TwilioVoice.framework_ sh

[2019-10-01 23:52] bobiechen-twilio commented on #20
Hi @dkornev

Thanks for reporting the issue.
I have deleted the dSYM file, which might cause some artifact name conflict with the framework when downloading using Carthage.

Please try again.
Sorry for the inconvenience.

-bobie

[2019-10-01 23:52] dkornev commented on #20
According to the https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file :
_... **frameworks should only appear once in the archive** ..._
But for the release v5.0.0, there are two *.framework files attached to the assets

[2019-10-01 23:56] dkornev commented on #20
Hi @bchen-twilio
It was an incredibly quick response!
Thank you, closing this

[2019-10-01 23:59] bobiechen-twilio commented on #20
Sure things and thanks again for reporting this. I have created a ticket for addressing the naming issue in future releases.

Cheers,
-bobie

[2019-10-28 15:11] ream88 opened #22 "Ongoing calls are killed when receiving a call from Twilio"
We're currently facing a major outage for our iOS app as incoming calls from Twilio kill any ongoing callkit calls. The user is presented the following screen below:

![IMG_3255](https://user-images.githubusercontent.com/14321/67688926-e2fcaa00-f99a-11e9-89ea-85aa163b6271.PNG)

Thinking the fault was on our side I basically recoded the Twilio related part of our app based on https://github.com/twi

[2019-10-28 16:48] bobiechen-twilio commented on #22
Thanks @ream88 for reporting the issue and sharing debugging information.
While we are investigating with the steps you provided, can you also share the SDK log when this is happening?

Thanks,
-bobie

[2019-10-28 17:01] ream88 commented on #22
@bchen-twilio what is the best way to do so? Paste the console output from Xcode here?

[2019-10-28 17:10] bobiechen-twilio commented on #22
@ream88 Yes, the Xcode debugging log with SDK `TVOLogLevelTrace` should work and please remove any sensitive credentials before posting here.

-bobie

[2019-10-28 17:19] ream88 commented on #22
Thats everything:
[code]

[2019-10-28 17:20] ream88 commented on #22
Maybe this info helps you: The ongoing call is canceled and the incoming call does NEVER start to ring.

[2019-10-28 20:48] bobiechen-twilio commented on #22
Hi @ream88

Just want to let you know that I was able to reproduce the same call failure with iOS 13.1.3 device and I am looking into the device log captured by the Mac OS Console app. It's a very long log and I probably need some time to figure out what caused the problem.

-bobie

[2019-10-28 21:16] ream88 commented on #22
That’s good news 😊

[2019-10-30 22:37] bobiechen-twilio commented on #22
Hi @ream88

Although we haven't gotten any luck in terms of reaching to a solution for this issue, I found that this problem only happens when the app is built with Xcode 11 and running on iOS 13 (my device is on 13.1.3). I ran the same steps on the same device but with the app built from Xcode 10 and couldn't reproduce the call failure. Our observations match this post: https://stackoverflow.com/

[2019-10-31 10:14] ream88 commented on #22
Thx a lot for the investigation! 😊 So your suggestion is to build the App with Xcode 10? I'm not sure if this is even possible as our App build with Xcode 11 is already in the wild.

[2019-10-31 18:45] bobiechen-twilio commented on #22
Hi @ream88

Since Apple is mandating developer to submit their apps using Xcode 11 in 2020, we think it would make more sense to ask Apple to address the issue in the latest Apple SDK, therefore we have filed a Feedback ticket to Apple with the investigation information we gathered including device logs and screenshots. We will keep an eye on this and hopefully the fix won't come too late.

Cheers

[2019-11-05 21:16] isupremedyou opened #24 "Request: Add support for SPM"
Now that SPM is baked into Xcode 11, it would be great if you could add support for SPM.

[2019-11-05 21:31] bobiechen-twilio commented on #24
Hi @travischapman

Thanks for reaching out. I've created a ticket to research of adding SPM support for the SDK.

-bobie

[2019-11-11 20:56] bobiechen-twilio commented on #22
Hi @ream88,

Although we haven't received anything from the Feedback ticket we filed last week, I tried running the same steps with Xcode 11.2 (11B52) and the calls seemed to work on iOS 13.2 & 13.2.2 devices. Previously I was using Xcode 11.0 and iOS 13.1.3.

I was able to interrupt both PSTN outbound and PSTN inbound calls with VoIP incoming calls and continue the calls after the interruption wi

[2019-11-13 10:17] subashiniCA opened #26 "Voice call Connection issue"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What

[2019-11-13 10:19] subashiniCA opened #27 "voice call connection issue in version 4.3"
2019-11-13 15:44:15.532149+0530 Doctor Clix[2146:606557] StartCallAction transaction request successful
2019-11-13 15:44:15.569135+0530 Doctor Clix[2146:606297] provider:performStartCallAction:
2019-11-13 15:44:16.511406+0530 Doctor Clix[2146:606297] INFO:Twilio:[Core]:Creating peer connection signaling thread ...
2019-11-13 15:44:16.513043+0530 Doctor Clix[2146:606297] INFO:Twilio:[Core]:Creating

[2019-11-13 10:33] subashiniCA commented on #27
HI ,
call is not connecting properly

[2019-11-13 10:34] #26 closed, assigned to nobody

[2019-11-13 17:33] bobiechen-twilio commented on #27
Hi @subashiniCA

Thanks for providing the SDK log, but from the log it seemed that call got connected properly on the caller's side. Could you please provide more information about the problem you are experiencing?

We cross-referenced the callee identity and the binding registration records and found that the last time this identity was used to register was on November 11th but the registration f

[2019-11-14 04:29] subashiniCA commented on #27
thankyou bobie.
i will update latest version
and in identity possible to include numbers and special characters. ?

On Wed, Nov 13, 2019 at 11:03 PM bobiechen-twilio <notifications@github.com>
wrote:

[2019-11-14 04:35] bobiechen-twilio commented on #27
Hi @subashiniCA

Sounds great.
For SIP protocol compatibility, we support alphabetic, numerical characters and underscore.

-bobie

[2019-11-14 04:36] subashiniCA commented on #27
ok. thankyou.

[2019-11-14 04:46] subashiniCA commented on #27
i am updated twilio SDk version 5.0.0

Now receiving the same error

2019-11-14 10:15:06.596419+0530 Doctor Clix[3605:703557] providerDidBegin
2019-11-14 10:15:14.564202+0530 Doctor Clix[3605:704810] StartCallAction transaction request successful
2019-11-14 10:15:14.568817+0530 Doctor Clix[3605:703557] provider:performStartCallAction:
2019-11-14 10:15:16.044246+0530 Doctor Clix[3605:703557] INFO:T

[2019-11-14 05:03] subashiniCA commented on #27
and caller sit getting error

 callInviteReceived:
2019-11-14 10:31:17.720105+0530 Doctor Clix[6394:2691776] *** Terminating app due to uncaught exception 'TVOAudioDeviceMustBeSetBeforeMediaStackSetup', reason: 'WebRTC does not allow updating the audio device once the media stack is created (i.e once a track is created or memory allocated for previously created call or connect option is not delete

[2019-11-14 20:05] bobiechen-twilio commented on #27
Hi @subashiniCA

From the Call SID in the log, the callee identity `josephmycontactscacom` was never successfully registered, therefore the caller got disconnected immediately after connected. Please use the updated app to register the callee before you try to connect the caller and callee.

For the crash on the caller side:
- Does the `callInviteReceived:` message mean that you are getting a call

[2019-11-15 06:05] subashiniCA commented on #27
This is the details of my issue list while
while receiving Incoming call.
 call receiving  but getting crash

*voice call*

*2019-11-15 11:33:00.693280+0530 Doctor Clix[7399:2913808]
INFO:Twilio:[Core]:Creating peer connection signaling thread ...*

*2019-11-15 11:33:00.694085+0530 Doctor Clix[7399:2913808]
INFO:Twilio:[Core]:Creating peer connection worker thread ...*

*2019-11-15 11:33:00.694343

[2019-11-15 13:55] mroffmix opened #28 "Doesn't work incoming calls when the application is terminated."
### Description

Incoming calls don't work when the application is terminated.
**But when the app is on background or foreground mode everything works fine.**
Also, I noticed that methods didReceiveIncomingPushWithPayload and didReceiveIncomingPushWith were not fired.

But when I open the application after I see the Callkit screen for a few seconds.
I tried to catch the issue throw debugger.
####

[2019-11-19 00:48] bobiechen-twilio commented on #28
Hi @mroffmix

Can you please check the device log (from the Console app) and see if the incoming call notification is received when the app is terminated? The SDK should not have different behaviors under different app states and does not have control if the application receives the `didReceiveIncomingPushWithPayload` callback or not.

Please follow the migration guide and make sure that the appli

[2019-11-19 00:50] bobiechen-twilio commented on #27
Hi @subashiniCA

Thanks for providing SDK log.
Can you please share the code snippets where your application sets the audio device to `TwilioVoice.audioDevice`?

[2019-11-19 00:51] bobiechen-twilio commented on #22
Hi @ream88,

The original issue seems to be fixed in the latest iOS/Xcode so I am going closing this ticket. Please feel free to reach out to us if you run into any problem using the Voice SDK.

Cheers,
-bobie

[2019-11-19 00:51] #22 closed, assigned to bobiechen-twilio

[2019-11-19 14:21] subashiniCA commented on #27
Thank you for your reply.
 TwilioVoice.audioDevice set in  viewDidLoad() function

On Tue, Nov 19, 2019 at 6:20 AM bobiechen-twilio <notifications@github.com>
wrote:

[2019-11-19 14:22] subashiniCA commented on #27
*override* *func* viewDidLoad() {

        *super*.viewDidLoad()

        // self.navigationController?.setNavigationBarHidden(true,
animated: true)

        toggleUIState(isEnabled: *true*, showCallControl: *false*)

        voiceCall.layer.cornerRadius = 20

        voiceCall.layer.borderWidth = 1

        voiceCall.layer.borderColor = UIColor.green.cgColor

        *if*(typeStr == "Incoming")

[2019-11-19 17:49] dougritter opened #29 "Multiple incoming call push notifications for the same call"
### Description

When inbound calls are started, multiple push notifications are sent to the same device with the same payload.
As already known, in iOS 13, it's necessary to report all incoming calls to CallKit when VoIP push notifications are received.
When a device receives multiple incomingCalls, it may cause the app to be killed by the system because of the many VoIP pushes to be handled and

[2019-11-19 18:18] idelgado commented on #29
@dougritter we recently resolved an issue that could have sent more than one notification for a very small percentage of incoming calls. This was deployed on Saturday.

Have you observed any multiple notifications in the last 48 hours? If so, can you provide the Call SID or the `identity` of the callee.

[2019-11-19 18:21] dougritter commented on #29
Hi @idelgado thank you for the information, but the issue was identified today.
The Call Sid is `CA1fff76da2bfb9b841cb01004460c5dbd`
The timestamps:
"2019-11-19 12:22:41.113"
"2019-11-19 12:22:41.138"
"2019-11-19 12:22:41.127"

[2019-11-19 20:33] idelgado commented on #29
Our system logs show that we sent a single request to the APNS push gateway for this call. We're reaching out to Apple and continuing to investigate in the meantime.

[2019-11-20 00:31] dkornev commented on #20
Hi @bchen-twilio
I see that the same issue is now reproducible with https://github.com/twilio/twilio-voice-ios/releases/tag/5.1.0.
Could you please remove the _**TwilioVoice.framework.dSYM.zip**_ file from the release assets.

[2019-11-20 00:35] bobiechen-twilio commented on #20
Hi @dkornev

Thanks for monitoring the SDK! Just removed the dSYM from the artifact list. Please try again.
Sorry for the inconvenience.

Cheers,
-bobie

[2019-11-20 00:39] dkornev commented on #20
Fixed. Closing this

[2019-11-20 10:33] dougritter commented on #29
Oh, that's interesting. Please let us know if you have some feedback from them. Thanks

[2019-11-20 16:49] bobiechen-twilio commented on #27
Hi @subashiniCA

Thanks for providing new information.
Is `TwilioVoice.audioDevice` assigned anywhere other than in the `viewDidLoad` method of the view-controller?

[2019-11-20 21:37] ream88 commented on #22
Yep, does indeed work now! Thx a lot for your help and all the great work you do! 😊

[2019-11-21 04:53] subashiniCA commented on #27
Hi boichen,

My application Am used both Twilio audio, and Twilio video call function.
both viewDid load am used
TwilioVoice.audioDevice = self.audioDevice

after that

  TwilioVoice.isAudioEnabled = true

  TwilioVoice.isAudioEnabled = false used in CXProvider Delegate methods

On Wed, Nov 20, 2019 at 10:19 PM bobiechen-twilio <notifications@github.com>
wrote:

[2019-11-21 09:57] mroffmix commented on #28
I caught the error. When the app is terminated and the call is coming with push notification I see error Message from debugger: **Terminated due to signal 9**
I have no idea how to debug it

[2019-11-21 19:48] bobiechen-twilio commented on #28
Hi @mroffmix

Please use "Wait for executable to be launched" option to debug the issue when app is terminated and waiting to be launched by the notification.

Please make sure your application is reporting every VoIP notification to CallKit to avoid being terminated by the system.

[2019-11-21 20:07] bobiechen-twilio commented on #27
Hi @subashiniCA

Thanks for providing additional information.

The Voice SDK has the contract to force only one audio device configuration being set at a time. It looks like the application is setting the audio device while there is still a call. The application needs to make sure that there is no active call when assigning the audio device to TwilioVoice.

-bobie

[2019-11-21 21:08] cnadeau opened #30 "TVOCall.disconnect has no effect in AppDelegate.applicationWillTerminate"
### Description

Calling TVCCall.disconnect() on the active call in AppDelegate.applicationWillTerminate call does not disconnect the call

### Steps to Reproduce

Using the sample app
- call a phone number
- wait for the phone to ring
- answer the call or not
- kill the app  => the call is still ringing or ongoing if answered

#### Code

[code]

#### Expected Behavior

The rest call should be per

[2019-11-21 22:12] bobiechen-twilio commented on #30
Hi @cnadeau

Thanks for reaching out. This is currently a known issue in our SDK and we are actively investigating how to send out the disconnect message to the Twilio service before the app is completely terminated.

-bobie

[2019-11-25 00:34] aryo opened #31 "callInviteCancelled delegate method in 5.0"
### Description

In the changelog for 5.0.0, it says

But in the header file for TVONotificationDelegate, the method signature is:
[code]
which suggests that error should be nonnull.

Is this right?

[2019-11-25 13:25] pragmapilot commented on #29
@idelgado Any news about this issue?

cc @dougritter

[2019-11-26 01:09] piyushtank commented on #31
@aryo Thanks for reaching out. We had documentation error in the [5.0.0 changelogs](https://www.twilio.com/docs/voice/voip-sdk/ios/changelog#500) which we just updated.

Best,
Piyush

[2019-11-26 22:49] joeydong commented on #5
i'm also experiencing the same issue when using the `--no-use-binaries` flag in the `carthage install --platform iOS --no-use-binaries`.

here's how it was solved for twilio-chat-ios: https://github.com/twilio/twilio-chat-ios/issues/1

[2019-11-26 22:52] joeydong commented on #5
I suppose I could host a file like this myself and update it whenever there is a new release: https://github.com/twilio/twilio-chat-ios/blob/master/twilio-chat-ios.json

[2019-11-27 22:10] bobiechen-twilio commented on #5
Hi @joeydong @qaysdwekat

Thanks for reporting the issue. We have updated the `Releases` branch with the artifact JSON.
Sorry for the inconvenience.

Cheers,
-bobie

[2019-11-27 22:10] #5 closed

[2019-11-29 10:44] subashiniCA commented on #27
*THis is my controller class:: ==================import* UIKit

*import* CallKit

*import* PushKit

*import* TwilioVoice

*import* AVFoundation

//import SideMenuSwift

*import* Alamofire

//
http://caworksite.com/ca_2019_doctorclix//voice-quickstart-server-php-master/accessToken.php

*let* baseURLString = Constants.audiocallBaseUrl//"
http://caworksite.com/ca_2019_doctorclix//voice-quickstart-ser

[2019-12-02 17:25] bobiechen-twilio commented on #27
Hi @subashiniCA

Thanks for providing the code of the application.
Since `TwilioVoice` is a singleton instance, please make sure that the application is only configuring the audio device once during active call sessions.

[2019-12-03 15:56] piyushtank commented on #31
@aryo Closing the ticket as we have updated the changelogs. Feel free to reopen if you find an issue.

[2019-12-03 15:56] #31 closed, assigned to piyushtank

[2019-12-04 11:42] fmonsalvo opened #34 "Voice SDK 4.x & 5.x: Module 'TwilioVoice' not found"
### Description

I have a react-native application and we've built a module using twilio voice 2.x. I'm in the process of upgrading it to 5.x.
I've been able to upgrade to 3.x but, when I use twilio voice 4.x or above via cocoapods I get an error saying `Module 'TwilioVoice' not found`.
Has something changed in the pod structure? I'm not being able to build my application.
I've read the migration

[2019-12-04 17:10] bobiechen-twilio commented on #34
Hi @fmonsalvo

Please note that the path of the framework packaging has been updated to `Build/iOS/TwilioVoice.framework` since `4.0.0`. Please check out the [latest podspec](https://github.com/CocoaPods/Specs/blob/master/Specs/f/1/9/TwilioVoice/5.1.0/TwilioVoice.podspec.json) and update the path settings in your existing app project.

Thanks,
-bobie

[2019-12-04 18:52] fmonsalvo commented on #34
Hi @bchen-twilio that was the issue!
Thanks, I'll close the issue now.

[2019-12-04 18:52] #34 closed, assigned to bobiechen-twilio

[2019-12-04 21:04] bchen-twilio commented on #29
Hi @dougritter @pragmapilot

Just want to check in and see if you are still observing this issue.
We have deployed a server side fix to ensure that potential duplicate bindings are detected and removed so that the mobile clients won't receive multiple notifications for the same call.

We are keeping an eye on the traffic and Insights data in the meantime please let us know how it goes.

Cheers,
-b

[2019-12-04 21:30] idelgado commented on #29
We reached out to Apple but did not get conclusive evidence from them to indicate what was going on. We have seen cases where customers are failing to initialize the `PkPushRegistry` which can result in several notifications being raised back-to-back once initialized.

We added some more information related to this in the migration guides under step 2: https://github.com/twilio/twilio-voice-ios/bl

[2019-12-06 04:34] subashiniCA commented on #27
* configuring the audio device once during active call sessions. yes
configured once active call session*
i am unable to identify the issue . exactly where the previous call is
still active. am already shared my code please help me

On Mon, Dec 2, 2019 at 10:55 PM bobiechen-twilio <notifications@github.com>
wrote:

[2019-12-09 23:02] bobiechen-twilio commented on #27
Hi @subashiniCA

Please implement the logic in the application to check if there is any active call before setting the audio device.

[2019-12-12 21:22] bobiechen-twilio commented on #29
Hi @dougritter @pragmapilot

Hope things are going well. We haven't seen any signs indicating multiple push notifications being received on the callee clients under your account but would like to confirm if you are not still seeing the original issue in your environment.

Please feel free to let us know if you need further assistance.

Cheers,
-bobie

[2019-12-16 12:02] tsanto commented on #29
Hi @bchen-twilio

We may have found the problem. We are still monitoring if the issue was fixed and for that reason we will get back to you in a week or so.

Thanks in advance!

[2019-12-16 17:09] bobiechen-twilio commented on #29
Thanks for the update @tsanto.

[2020-01-15 18:58] dkornev commented on #20
Hi @bchen-twilio

Ha, looks like it happens again :-). Apparently, it's a big one because obviously not many people are using Carthage for the SDK.
Could you please remove the TwilioVoice.framework.dSYM.zip file again when you have time?

Thank you.

[2020-01-15 19:04] bobiechen-twilio commented on #20
Hi @dkornev

Thanks for reporting the problem.
I was doing some experiments to make sure that the Carthage integration instructions we provide work with the binary file. I was able to use the following line in my `Cartfile` to successfully download the latest framework binary, while the dSYM file can stay side-by-side:
[code]

Can you let me know if this works for you?

Thanks,
-bobie

[2020-01-15 19:06] bobiechen-twilio commented on #20
By the way, you will also need to run `carthage update` in order to refresh the dependencies.

[2020-01-15 19:08] dkornev commented on #20
I believe it will solve the issue. Thank you

[2020-02-11 11:23] markathomas opened #36 "TVOCall.disconnect() doesn't hang up remote call leg"
### Description
Calling TVOCall.disconnect() inside of `public func provider(_ provider: CXProvider, perform action: CXEndCallAction)` disconnects the local leg but leaves the remote leg still active.

### Steps to Reproduce

1. Dial a number on local phone
2. Answer call on remote phone
3. Hangup on local phone

#### Code

[code]

#### Expected Behavior

Both legs are terminated

#### Actual Beha

[2020-02-11 12:00] markathomas commented on #36
What I'm seeing is when the local leg is disconnected the webhook is never fired to my server that releases the call.  Only after I disconnect the remote call leg is the webhook fired.  As initiator of the call I would expect the webhook to be fired when I disconnect as this is not a conference.

[2020-02-11 17:04] bobiechen-twilio commented on #36
Hi @markathomas

Thanks for reporting the issue and the result does sound odd.
Can you provide a Call SID where this happened? We will need to investigate the log of the signaling connection when the `.disconnect()` happened.

By the way, was the app in the foreground, background or was the device locked when the local client disconnected the call?

Cheers,
-bobie

[2020-02-11 17:52] markathomas commented on #36
Hi Bobbie, thanks for looking into this.  One call SID in question is CA95c504b1efa18d9854c84246f3b08d77.  The app was in the foreground on disconnect.  If it makes a difference this was a client to client call.  The Voice SDK called my TwiML app which hit my  server which then dialed a Client directly.  The second leg was created as a child call of the above referenced call SID.  That SID is CA5f

[2020-02-11 17:54] bobiechen-twilio commented on #36
Thanks for providing the Call SIDs @markathomas!
I just tried the Swift quickstart and made some client-to-client calls, but I was able to get the remote client disconnected properly. I'll take a look at the SIDs and let you know.

-bobie

[2020-02-11 18:52] bobiechen-twilio commented on #36
Hi @markathomas

I've checked the Call SID and it seems that the second part of the TwiML responses (returned by the `action` URL of the first part) is causing this issue. I'll need to do some local experiments and also reach out to the TwiML experts and see if they can spot anything immediately.

-bobie

[2020-02-11 18:58] markathomas commented on #36
OK, thank you Bobie.  It's important to note that from what I saw the TwiML never gets executed until the remote side manually hangs up.  I tested this by looking at the request inspector after hanging up on the local leg and nothing was present in the inspector.  Additionally, I tailed my server logs and did not see the webhook to the release endpoint triggered until after the remote leg manually

[2020-02-11 19:10] bobiechen-twilio commented on #36
I talked to some Voice experts and confirmed the behavior you described - `action` won't be triggered until the call has ended, on both sides of the call legs. The question is why didn't the `disconnect` reach the remote party, which we are trying to figure out and will keep you updated.

-bobie

[2020-02-11 23:20] bobiechen-twilio commented on #36
Hi @markathomas

With some further investigation we found that there was never a disconnect sent out from the caller client. Can you check if there is any error along the path of ending the call? e.g. when requesting the end call action to the CallKit controller. We are trying to make sure that `[TVOCall disconnect]` is called and the signaling event is sent out from the mobile client.

SDK logs w

[2020-02-11 23:58] markathomas commented on #36
Thanks, I don't have logs right now as I am developing this on a remote Mac. I did read in the API docs that if `TVOCall.state == .disconnected` calling disconnect will have no effect,  Could it be that call kit is terminating the connection and disconnecting the call with Twilio?  I am only calling disconnect in one place in the code as such:
[code]
and this is inside
[code]
Or, is it possible th

[2020-02-12 09:23] markathomas commented on #36
Bobie, I'm curious, which quickstart did you use?  I have noticed differences between https://github.com/twilio/voice-quickstart-ios and https://github.com/twilio/voice-callkit-quickstart-swift with regards to when `disconnect()` is invoked

[2020-02-12 12:43] markathomas commented on #36
Bobie, I've tried the following to no avail:

1. Only calling TVOCall.disconnect() - this leaves both legs open
2. Invoking TVOCall.disconnect() before sending callkit end call tx - this eventually closes both legs  but only due to a timeout in callkit
3. Invoking TVOCall.disconnect() directly after sending callkit end call tx instead of waiting on event from callkit - this has same effect as numb

[2020-02-12 18:50] bobiechen-twilio commented on #36
Thanks for the updates of your investigation!

The `voice-callkit-quickstart-swift` was deprecated and no longer maintained. `voice-quickstart-ios` should be the source of truth now.

The flow of disconnecting a call (with CallKit) should be:
1. Initiate the disconnect sequence by requesting a `CXEndCallAction` to the CallKit controller [[code]](https://github.com/twilio/voice-quickstart-ios/blob/

[2020-02-12 20:09] markathomas commented on #36
Thanks Bobie for the explanation and suggestion.  I'll try it out immediately.

[2020-02-12 20:38] markathomas commented on #36
That worked!  I suppose this was pure ignorance on the Swift object lifecycle and how TVOCall.disconnect works.  Thanks so much!

[2020-02-12 20:38] #36 closed, assigned to bobiechen-twilio

[2020-03-15 19:48] tsanto commented on #29
Hi @bchen-twilio

The issue was fixed. Thank you!

[2020-03-15 23:14] #29 closed, assigned to bobiechen-twilio

[2020-04-11 18:15] geoter opened #44 "voice call terminates when dial sound starts playing"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

I use this project as is. I haven't imported it into any of my projects.
When I start a call to another identity from my iPad, it rings once and terminates the call

[2020-04-13 10:25] n-nitchevski opened #45 "Twilio Voice iOS 13 Migration Issue"
### Description

I'm building React Native mobile app using twilio sdk.
It was working fine but after using XCode 11, App crashed when receiving an incoming call in background status.
I followed the migration guide.

#### Code

React Native with Objective C SDK.

I called this in didFinishLaunchingWithOptions

`- (void)fetchAccessToken {
    NSString *kIdentity = [[NSUserDefaults standardUserDefau

[2020-04-13 16:44] bobiechen-twilio commented on #45
Hi @n-nitchevski

This seems to be an issue with RN, but can you use the debugger and see if you are able to receive the `didReceiveIncomingPushWithPayload` callback when the app is in the background or terminated?
Also to simply things, in the callback you just need to keep the following if your mobile client is register with the 5.0 SDK:
[code]

[2020-04-13 16:48] bobiechen-twilio commented on #44
Hi @geoter

Thanks for reporting the issue. Can you provide a Twilio Call SID when this happens? Also a `.trace` level of SDK log would be helpful for debugging what happened.

-bobie

[2020-04-14 06:21] geoter commented on #44
I don't know how to get these .trace logs you are mentioning. Could you please guide me?
The app doesn't crash, if this helps. So can I get these logs you are saying?

[2020-04-14 18:14] geoter commented on #44
I haven't figured out exactly but it had to do with UserDefaults saving the identity and causing a problem. Probably two identities saved in the same device.

[2020-04-14 20:27] bobiechen-twilio commented on #44
Hi @geoter

Please use the `logLevel` property of `TwilioVoice`
[code]

For the Call SIDs, you can find the Twilio Call SIDs in the [developer console](https://www.twilio.com/console/voice/calls/logs) if the call made it through or you can also use the `TVOCall.sid` property to retrieve the Call SID when you receive the `callDidConnect:` callback.

[2020-04-17 14:09] isupremedyou commented on #24
With Swift 5.3, binary assets will be able to be included with Swift Packages. If that has been cause for delay on creaking a `Package.Swift` file, then this Sept/Oct with Xcode 12 that should be resolved!

[2020-04-29 18:26] bobiechen-twilio commented on #44
Hi @geoter

How are things? Are you still experiencing the issue you originally reported? Feel free to provide us SDK logs and Twilio Call SIDs in case you are still seeing the problem in your app.

Thanks,
bobie

[2020-04-29 18:29] bobiechen-twilio commented on #28
Hi @mroffmix

I am closing this issue since there has been no activities for a while so I assume the issue has been resolved. Please feel free to reopen if you are still experiencing this problem in the app.

Thanks,
bobie

[2020-04-29 18:29] #28 closed, assigned to bobiechen-twilio

[2020-04-29 18:29] #20 closed, assigned to nobody

[2020-04-29 18:29] bobiechen-twilio commented on #27
Closing ticket since there has been no updates for a while.

[2020-04-29 18:29] #27 closed, assigned to bobiechen-twilio

[2020-04-29 18:30] geoter commented on #44
Hi @bchen-twilio. The problem was iOS side and had to do with UserDefaults saving user info from previous sessions of the app. When I removed it I worked just fine. I am not sure what exactly is going wrong.

[2020-04-29 18:33] bobiechen-twilio commented on #4
Closing ticket since there has been no activities for a while. Please feel free to reopen if you are still seeing the problem using the SDK.

Thanks,
bobie

[2020-04-29 18:33] #4 closed

[2020-04-29 18:35] bobiechen-twilio commented on #44
Thanks for the update @geoter. Since it's not caused by the SDK I am going to close the issue for now. You are more than welcome to reach out to us if you run into any problem using the SDK in the future.

[2020-04-29 18:35] #44 closed, assigned to nobody

[2020-05-01 11:50] yatindma opened #46 ""Empty Credentials" while initiating a call from iOS"
I am trying to initiate a call from iOS then it's connecting for 2-3 sec and getting disconnected after that and in Twilio debugger we are getting "Empty Credentials", do you have nay idea regarding the same.

[2020-05-01 16:04] bobiechen-twilio commented on #46
Hi @yatindma

I will close this one and let's continue the discussion in https://github.com/twilio/voice-quickstart-ios/issues/342.

[2020-05-01 16:04] #46 closed, assigned to nobody

[2020-05-03 15:18] roman-kot commented on #28
@bchen-twilio I am experiencing the same issue. I have just checked with the Voice Quickstart iOS example app and it's the same. Killed app is started for a second when it receives incoming push and then it is terminated by iOS immediately. `Message from debugger: Terminated due to signal 9`

[2020-05-05 18:26] aksthelion opened #47 "Preserve call session when user taps on notification"
I've an app in which I've voice call feature. During a call, call disconnects when user taps on a new push notification which is linked to a view in this app. Is it possible to keep call connected when user taps on this notification and is redirected to another view?

I know this question may not be related to this SDK as such but in a real life situation it's a normal scenario.

[2020-05-05 18:49] bobiechen-twilio commented on #47
Hi @aksthelion

If my assumption is correct, a view-controller or UI component own the `TVOCall` object and when another view-controller is presented, the call object along with first view-controller is not retained and destroyed, therefore the call got disconnected. Does this describe your situation?

In the debugging console do you see any SDK error message indicating that the call is disconnect

[2020-05-05 21:04] aksthelion commented on #47
Thanks for reply. Your assumption is correct. I didn't check for error, I don't think there will be any error as you have already explained why it gets disconnected. Do you have any suggestions/hints on how to fix this issue so that calls don't disconnect when another view is presented?

[2020-05-05 21:10] bobiechen-twilio commented on #47
Hi @aksthelion

Since the Voice SDK is replying on the application to retain the `TVOCall` object throughout the lifecycle of the call, the application needs to implement some sort of "store" to keep the ownership of the call objects (actually the `TVOCallInvite` objects as well). Ideally this "store" component should be sharable between UI or other logical components.

[2020-05-05 23:43] aksthelion commented on #47
Thanks will look into it.

[2020-05-07 10:49] BhavikWings commented on #47
Is it possible to integrate voice calls using FCM in iOS? I have two applications one is customer app and the other is the driver app. And also both app in android as well as how we can handle this situation.
I want to call between the customer to the driver.

We need to create 4 SID or what and how it will works? Can you please guide me

Thank you

[2020-05-07 16:11] bobiechen-twilio commented on #47
Hi @BhavikWings

Currently the Voice iOS SDK requires Apple's VoIP Service for delivering incoming call notifications. You can follow [the steps](https://github.com/twilio/voice-quickstart-ios#bullet7) in the iOS quickstart to set up the VoIP certificate and enable your Voice iOS app to receive push notifications, that way your iOS application can also receive incoming calls or connect calls with

[2020-05-07 17:26] Westacular opened #48 "5.4.0 podspec exists in CocoaPods trunk, but the corresponding .zip doesn't"
### Description

The latest version in the CocoaPods trunk is showing as 5.4.0, published on May 5: https://github.com/CocoaPods/Specs/blob/master/Specs/f/1/9/TwilioVoice/5.4.0/TwilioVoice.podspec.json

However:

- https://github.com/twilio/twilio-voice-ios/releases/download/5.4.0/TwilioVoice.framework.zip doesn't exist, so `pod update` or `pod install` with that version fail
- there are no releas

[2020-05-07 17:48] bobiechen-twilio commented on #48
Hi @Westacular

Thanks for reporting the issue.

There was a slight change of plans for the 5.4.0 release therefore we have to wait for a couple of days. I have updated the podspec and now it should be pointing to the previous public release (5.3.1).

Sorry for the inconvenience and thanks again for filing the issue.

[2020-05-07 18:18] bobiechen-twilio commented on #45
Hi @n-nitchevski

Hope things are well.
We haven't heard back from you for a while, but hopefully you have figured out and resolved the issue. I am going to close this ticket but please feel free to reach out when you run into any problem.

Thanks,
bobie

[2020-05-07 18:18] #45 closed, assigned to nobody

[2020-05-07 23:31] aksthelion opened #49 "Incoming call lands on same device when user types are switched"
I'm facing a weird problem since long time and I can't figure it out. I've two types of users. Only one type of users can initiate a call, other user types only receive call.

If I switch the user types on two phones and initiate voice call, call lands on same phone where I was previously logged in as receiver user type.

I call unregister when user logs out so it should clear the token if it's a

[2020-05-08 15:56] bobiechen-twilio commented on #49
Hi @aksthelion

Yes, using the `TwilioVoice.unregister()` method will delete the push notification binding of the mobile client so that it won't receive incoming call push anymore. Unless explicitly unregistered, the push binding stays alive for one year, or until the VoIP certificate has been revoked or expired.

Hope this answer your question.

[2020-05-08 17:07] aksthelion opened #50 "How to show top bar status bar for a call in foreground state"
During a call, when app enters background state we show call progress bar (green) in status bar. Is it possible to show this same green status bar when app is in foreground when we navigate away from the call view? Something similar to what WhatsApp does?

Please refer to this discussion
https://stackoverflow.com/questions/39853195/like-skype-application-how-to-show-top-bar-status-bar-at-ongoing-c

[2020-05-08 17:14] bobiechen-twilio commented on #50
Hi @aksthelion

The UI presentation is up to the application so the SDK doesn't have control over it. I found a similar thread where people are discussing implementing the same component: https://stackoverflow.com/questions/38738195/how-to-show-double-height-green-statusbar-in-call-in-foreground-app-on-device

I am going to close the issue since it's not an SDK issue.

[2020-05-08 17:14] #50 closed, assigned to nobody

[2020-05-08 17:28] aksthelion commented on #49
I'm still not able to resolve the issue. Calling 'TwilioVoice.unregister()' doesn't have any effect on my issue. Calls are still landing on other device.

How do we verify that a client is unregistered? Can we check in Twilio dashboard?

Could there be another issue than unregister?

[2020-05-08 17:34] bobiechen-twilio commented on #49
Hi @aksthelion

The `TwilioVoice.unregister()` method should do the job unless the Push Credential SID or the PushKit device token do not match. Please also check if the device token matches the one used in registration.

Please note that the device token is case-sensitive.

Please provide your Twilio Call SID if you believe you are receiving incoming call notifications on a mobile client that sho

[2020-05-11 12:29] vpcunha commented on #44
I'm running into this same error:
AVAudioSession setAggregatedIOPreference:error: Error Domain=NSOSStatusErrorDomain Code=560030580
But in my case the app is working fine. I can make calls, but I always get this message in the console after the callDidConnect: message.

[2020-05-11 21:48] #48 closed, assigned to nobody

[2020-05-11 21:49] Westacular commented on #48
Thanks for the prompt response!

[2020-05-21 17:35] aksthelion commented on #49
Here is one SID ISd36082be95e8c50a55226dfea8d45e29 It is coming on device on which I'm not even logged in in the app. Can you please trace it and let me know what I'm doing wrong?

[2020-05-21 18:08] bobiechen-twilio commented on #49
Hi @aksthelion

The `ISxxx` SID is the service ID for the Notify service, which is different from the VoIP service used in the Voice iOS SDK. Please use the Notify SDK to unregister from the push notifications.

[2020-05-21 18:08] #49 closed, assigned to nobody

[2020-05-21 18:18] aksthelion commented on #49
Thanks, I'll check it out.

[2020-06-12 22:52] dekpient opened #52 "Please include dSYM in the framework zip pulled by CocoaPods"
### Description

Framework's dSYM is **not** included in CocoaPods package – unlike TwilioSyncClient or TwilioChatClient.

### Steps to Reproduce

1. Add TwilioVoice to Podfile and run pod install
2. Build the app and expect TwilioVoice crashes to have unobfuscated stack trace

#### Expected Behavior

dSYM missing in the package pulled by the Podspec e.g. https://github.com/CocoaPods/Specs/blob/ma

[2020-06-15 16:48] bobiechen-twilio commented on #52
Hi @dekpient

Thanks for bringing up this great topic. We have created tickets for tracking the progress for debug symbols. We will keep you updated.

[2020-06-25 23:28] #47 closed, assigned to bobiechen-twilio

[2020-06-25 23:29] #30 closed, assigned to bobiechen-twilio

[2020-06-25 23:32] #6 closed

[2020-06-29 05:07] liemdo opened #54 "Will there be an official React Native sdk?"
I see some official examples for Twilio Chat in React Native. Will we have the React Native sdk for voice by any chance soon?

[2020-06-29 18:39] idelgado commented on #54
At the moment, we do not have plans to add an official React Native SDK. We will update this ticket if that changes in the future.

[2020-06-29 18:39] #54 closed, assigned to idelgado

[2020-07-16 23:30] piyushtank opened #56 "iOS 14"
Ahoy!

Apple has now released iOS 14. To ensure that your application is ready for iOS 14 we are providing the following guidance and plan to update this page as we make progress on these milestones.

The table below provides a summary of the work required to ensure that applications using the Voice SDK are compatible with iOS 14.

Milestone | Timeline | Developer Actions
-- | -- | --
iOS 14 - bet

[2020-09-04 09:27] liyamahendra opened #58 "cancelledCallInviteCanceled:error:, error: Service Unavailable"
### Description

I'm using the SwiftQuickStart iOS Demo and testing the incoming call feature using a NodeJS backend. I'm able to receive an incoming call on the device, but the call automatically disconnects within a second after the call is received.

### Steps to Reproduce

1. Install the app and wait for it to register the binding
2. Dial the twilio number
3. The phone having the app installed

[2020-09-04 17:40] bobiechen-twilio commented on #58
Hi @liyamahendra

From the error message in the description, it could be that the SDK was not able to set up a connection (for receiving the cancellation signal) due to network connectivity. Normally the application should give the VoIP payload directly to the TwilioVoice.handleNotification() method without having to modify any content (and should not). Is there any particular reason for the `upda

[2020-09-04 17:54] liyamahendra commented on #58
Thank you @bobiechen-twilio for responding!

I had to modify the payload because the sdk complains about missing twi_message_type in the payload. I did sent the value for the key when my server sends the push, but the SDK keeps ignoring it. It’s only after updating the payload that I’m successful in getting the phone to ring.

What do you advise can be done so that the user is able to accept the i

[2020-09-04 18:06] bobiechen-twilio commented on #58
Hi @liyamahendra

This is odd. Are you sending the VoIP notification to APNS from your server? The VoIP notification from Twilio should contain `twi_message_type` otherwise it would be a major defect, although we have not observed or seen any related report.

Can you provide a Twilio Call SID (`CAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`) so we can dig up the records and see what want sent in the VoIP not

[2020-09-05 07:04] liyamahendra commented on #58
I followed the docs [here](https://www.twilio.com/docs/notify/api/notification-resource) for sending a notification. Using a payload similar to the one in the docs results into `Notification payload missing twi_message_type` error message. Following are the logs from iOS app:

[code]

Following is the nodejs code used to send incoming call notification:
[code]

The Call SID for this test is: **CAa

[2020-09-08 12:03] kjgraham commented on #58
Hi @bobiechen-twilio I work with @liyamahendra.  Were you able to take a look at this? ^^

[2020-09-08 17:08] bobiechen-twilio commented on #58
Thanks for the update @kjgraham.
I believe your team has also created a Twilio support ticket, which I have also replied.

From the Call SID it seems that you are trying to send the VoIP push notification requests to Apple upon getting the status callback from Twilio. I am guessing that you want to determine in your application server which mobile client to call and send the VoIP notification by y

[2020-09-22 16:12] bobiechen-twilio commented on #58
Hi @liyamahendra

I believe we have made some progress in the support ticket. Closing the issue for now but please feel free to reach out if you need further assistance.

Thanks,
-bobie

[2020-09-22 16:12] #58 closed, assigned to nobody

[2020-09-24 18:36] ryanthon commented on #24
Any updates on SPM support? This would greatly help with development.

[2020-09-24 20:42] idelgado commented on #56
iOS 14 was released by Apple on September 16th, 2020.

**Voice iOS SDK 2.1.0-2.1.1** and **5.0.0+** are fully compatible with iOS 14.

[2020-09-24 20:43] #56 closed, assigned to nobody

[2020-09-24 21:06] bobiechen-twilio commented on #24
Hi @ryanthon

Thanks for reaching out.
We do have plan to upgrade our pipeline to use the latest build tools of Xcode 12 now that it's GA and should also be available from the CI providers. We will keep everyone posted with the progress.

Cheers,
-bobie

[2020-09-30 19:47] dmallory commented on #24
We are eager to take advantage of this as well. Thanks!

[2020-10-14 10:09] MrHertal opened #61 "Call does not disconnect"
### Description

I am unable to properly disconnect an incoming call after answering it.
When I call the method `disconnect`, the delegate method `callDidDisconnect` is triggered without error.

But when I check the call in the Twilio console, it still has the `Answered` status and is only completed once the remote hangup.

### Steps to Reproduce

1. Accept an incoming call
2. Disconnect call in t

[2020-10-14 10:21] MrHertal commented on #61
Here are some call sids:

`CA5330ed040bc9199e50dbaaf017a1aa2b`

`CA9c7ae4311afe0a8ceb6c2f3ca37a1d9c`

[2020-10-15 17:11] bobiechen-twilio commented on #61
Hi @MrHertal

Thanks for reaching out. From the records of the Calls you provided, the last status of the Calls are `completed`. Can you confirm that it's showing the same status in your developer console?

[2020-10-15 17:33] MrHertal commented on #61
I do confirm

[2020-10-15 18:20] bobiechen-twilio commented on #61
Thanks @MrHertal.

[2020-10-15 18:20] #61 closed, assigned to nobody

[2020-10-15 19:08] MrHertal commented on #61
I think there is a misunderstanding, the issue is still here.

My problem is that I receive an incoming call, I answer this call, I call `disconnect()`method on this call, `callDidDisconnect ` is triggered, but when I check the console, call has status `Answered`.

After some time call has status `Completed` (only when remote hangup).

Maybe I got it wrong but, `disconnect()` is supposed to end th

[2020-10-15 20:05] bobiechen-twilio commented on #61
Hi @MrHertal thanks for the update. Yes, the `disconnect()` method will end the connection between the local client and Twilio, as well as the remote client if it's a client-to-client or client-to-number call (<Conference> might have different result). It might take some time for the status to reflect, but in basic use cases like this, the `disconnect` method should end the call for both call part

[2020-10-15 20:59] MrHertal commented on #61
OK thanks for the explanation, it confirms I do have an issue with the `disconnect()` method

As you can see, both sids are client-to-client calls. Both calls lasted about 44 seconds (which corresponds to the TwiML execution time).

But the `TO` client `client:leo` called `disconnect()` method about 10 seconds after answering the calls.

Each time the `TO` client calls `disconnect()` method, call

[2020-10-15 21:13] bobiechen-twilio commented on #61
Thanks again for the update @MrHertal.

I checked again the Call SIDs and I think I know what's going on - in your Call API there is an URL (which is required) which generates a TwiML response with a couple of <Say> verbs, in addition to the call to `client:leo`. The call on `leo`'s side should end once `.disconnect()` is called, but the first call originated from the Call API won't finish until a

[2020-10-15 21:34] MrHertal commented on #61
Ok i got it now 🙂 no issue

thanks for your help!

[2020-11-08 19:37] muzammil-triffort commented on #22
Is this working with Xcode 12 / iOS 14.1 ?

[2020-11-09 20:21] bobiechen-twilio commented on #22
@muzammil-triffort The Voice SDK is validated with the latest Xcode and iOS environment. Feel free to reach out if you see any issue using the SDK. Thanks.

[2020-12-15 20:37] joe-646 opened #64 "Framework no longer working in Xcode 12.3"
Xcode 12.3 is no longer working with Twilio.framework, the official help says:

"The only correct way to resolve this is to rebuild the framework as an XCFramework."

Please, provide ASAP a fix.

[2020-12-16 01:58] bobiechen-twilio commented on #64
Hi @iturrajoel

Can you provide more detail about the problem you are running into? I am assuming it's something similar to [issue #422](https://github.com/twilio/voice-quickstart-ios/issues/422) in the quickstart repo.
I have just tried building the quickstart with Xcode 12.3 and the latest SDK, and it worked for me.

[2020-12-16 17:22] joe-646 commented on #64
Hi,

Yes, it's the same issue #422, but I think here was a better place to report the issue.

If you have access to the Apple developer forum, you will read that many frameworks are having similar problems with the latest Xcode 12.3 (the final version, not the beta).

You can check this thread:

[https://developer.apple.com/forums/thread/669411]

The right answer to the problem seems to be:

I hav

[2020-12-17 01:10] marcato15 opened #65 "Feature Request: Lite Bundle for App Clips"
With the release of App Clips in iOS 14 it’d be nice to offer a basic Video call feature in an App Clip. The uncompressed bundle size is required to be below 10 mb which means including just the current Twilio Video SDK is too big for an app clip. Is there a subset of functionality that could be provided in a lite version of the library to make a basic video call functionality available in an App

[2020-12-17 01:21] ryanthon commented on #64
Is it possible to get an XCFramework build for this SDK ASAP? It is blocking us from using Xcode 12.3.
We do not use Carthage or Cocoapods, we are using the .framework file directly.

[2020-12-17 01:21] ryanthon commented on #24
Any updates on SPM support?

[2020-12-17 02:11] piyushtank commented on #64
@ryanthon Yes, we are going to start working on XCFramework support for Voice iOS SDK in the next sprint, so we should be able to ship xcframework in January 2021. We will keep you posted.

[2020-12-17 02:13] piyushtank commented on #24
No updates other than we plan to start working on xcframework and SPM support in next sprint. We will keep you posted. Thank you!

[2020-12-17 02:14] joe-646 commented on #64
@piyushtank thank you. I hope you can give a highest priority, we are stuck in the Xcode 12.3 beta.

[2020-12-17 03:47] ryanthon commented on #64
@piyushtank Thank you for the update.

@iturrajoel

For anyone that needs a working version now, I was actually able to build an XCFramework that works with Xcode 12.3 using the following steps/commands.

1. Use the following commands to create arm64 and x86_64 versions of the Framework.
[code]

2. At this point, you will need to modify the Info.plist file located at `x86_64/TwilioVoice.framework/

[2020-12-17 04:24] joe-646 commented on #64
Thank you @ryanthon , I'll try it tomorrow morning.

Edit: It works perfect, thank you so so much.

[2020-12-17 15:06] #65 closed, assigned to nobody

[2020-12-17 17:40] bobiechen-twilio commented on #65
Hi @marcato15

Thanks for reaching out. It seems that you might be using the Video iOS SDK, but I think the same applies to both the Programmable Video and Voice SDKs - since socket connection is not supported in App Clips bundle, unfortunately the app cannot connect to rooms or calls using the SDK. For more information you can check out the **App Clips** section here: https://github.com/twilio/tw

[2020-12-31 03:03] evnik commented on #64
I've built [this script](https://gist.github.com/evnik/6762d5c3a4b21f61f13b100e03b62c38), based on the steps provided by @ryanthon. Would be great if someone can check if it works fine for their project

[2020-12-31 20:28] ceaglest commented on #64
Hello Developers,

Thank you for providing a solution to package an XCFramework from existing Twilio Voice releases.

We hear you that official support is a top priority issue and we will continue to work on this in January.

Best,
Chris

[2021-02-01 17:09] carlosefonseca commented on #64
Hi! Sorry to bring this up again. Is there any update on XCFramework/SPM? Thanks!

[2021-02-02 02:41] bobiechen-twilio commented on #64
Hi everyone,

We are happy to inform you that we have just released the [Voice iOS SDK 6.2.0](https://www.twilio.com/docs/voice/voip-sdk/ios/changelog#620), which is delivered as XCFramework. Please use the [twilio-voice-ios](https://github.com/twilio/twilio-voice-ios) repository and integrate the SDK into your app using the Swift Package Manager.

Cheers,
-bobie

[2021-02-02 02:43] bobiechen-twilio commented on #52
Hi @dekpient

We are happy to inform you that we have just released the [Voice iOS SDK 6.2.0](https://www.twilio.com/docs/voice/voip-sdk/ios/changelog#620), which is delivered as XCFramework, along with the bitcode and debug symbols. Please use the [twilio-voice-ios](https://github.com/twilio/twilio-voice-ios) repository and integrate the SDK into your app using the Swift Package Manager.

Cheers,

[2021-02-02 02:43] bobiechen-twilio commented on #24
Hi everyone,

We are happy to inform you that we have just released the [Voice iOS SDK 6.2.0](https://www.twilio.com/docs/voice/voip-sdk/ios/changelog#620), which is delivered as XCFramework. Please use the [twilio-voice-ios](https://github.com/twilio/twilio-voice-ios) repository and integrate the SDK into your app using the Swift Package Manager.

Cheers,
-bobie

[2021-02-03 06:25] Mehul18292 opened #70 "Unable to upgrade to latest version 6.2.0 via cocoapods"
### Description

As per given in documentation, i have changed my pod file to below code to get latest TwilioVoice SDK:
[code]

After making call to `pod install` OR `pod update`, it gives this error:
[code]

What other changes i need to do to get latest SDK, Please let us know.

[2021-02-03 18:18] bobiechen-twilio commented on #70
Hi @Mehul18292

Thanks for reaching out. Starting from `6.2.0` we are shipping the Voice iOS SDK in the form of XCFramework for Swift Package Manager compatibility, and have decided to raise the minimum deployment target to `iOS 12` in the podspec. To continue integrating the SDK via Cocoapods, you will have to update the iOS target version in your `Podfile`.

[2021-02-04 05:28] piyushtank commented on #70
@Mehul18292 Thanks for reaching out and reporting the problem. We have root caused the problem in the published podspecs. We are working on fixing it, and we will release the SDK with the fix very soon. I apologize for any inconvenience.

[2021-02-04 07:45] Mehul18292 commented on #70
@bobiechen-twilio My minimum deployment target is iOS 12.0, still it is giving me this error.

[2021-02-04 21:51] lickel commented on #24
Is it possible to vend a Catalyst compatible binary? I realize it won't _do_ anything, but Xcode refuses to compile our app as the slice is missing.

[2021-02-05 05:38] bobiechen-twilio commented on #70
Hi @Mehul18292

We have released [Voice iOS 6.2.1](https://www.twilio.com/docs/voice/voip-sdk/ios/changelog#621) and updated the Cocoapods podspec to address the iOS target. Please update your pod repo and pull the latest version.

Thanks again for reaching out and reporting the issue.
-bobie

[2021-02-05 23:47] #64 closed, assigned to nobody

[2021-02-05 23:47] #52 closed, assigned to bobiechen-twilio

[2021-02-08 01:30] joe-646 commented on #64
Thank you, it seems to work fine, but when are you going to support the simulator in Apple Silicon?

I just upgraded my 8 years old mac just to find out that I can't use the simulator anymore because the Twilio framework :(

Any suggestions will be much appreciated.

[2021-02-16 20:17] jasdeepsaini opened #71 "Incorrect version in the info.plist file of XCFramework"
### Description

While manually adding `TwilioVoice.xcframework`, I checked the info.plist file to make sure I have the correct version of the framework.  The version in the info.plist is 1.0 instead of 6.2.1.

### Steps to Reproduce

1. Download `TwilioVoice.xcframework` for v6.2.0 or v6.2.1.
2. Navigate to the `info.plist` file in either architecture.
    - `TwilioVoice.xcframework/ios-x86_64-si

[2021-02-17 17:37] bobiechen-twilio commented on #71
Thanks for reporting the issue @jasdeepsaini. I have created a ticket for tracking the bug and will provide an update when this is fixed.

Cheers,
bobie

[2021-02-17 17:37] #71 closed, assigned to nobody

[2021-02-17 18:39] #70 closed, assigned to nobody

[2021-02-19 17:48] IzioDev opened #72 "Error when instantiating ConnectOptions - SetStereoPlayout: Not implemented"
### Description

We are trying to make a call using the `.connect` method on the SDK. But before doing that, we're creating an instance of ConnectOption which outputs errors about audio.

We did enable recording in the `Info.plist`.

We compared what we did wrongly by comparing the example you provided, but we cannot find the source of the issue. If someone is able to point us out the right direct

[2021-02-26 00:21] bobiechen-twilio commented on #72
Hi @izio38

I am sorry we couldn't get back to you sooner.Thank you for reporting

[2021-02-26 00:31] bobiechen-twilio commented on #72
@izio38

Thank you for reaching out and I am sorry that we didn't get back to you sooner.
The log message you are seeing are due to the fact that some of the WebRTC audio device methods are not implemented for the iOS platform and are, most importantly, harmless.

[2021-02-26 06:53] IzioDev commented on #72
Alright, I was surprised this does happen on a ConnectOptions instantiation tho.

Thanks for your response, so we can fully ignore this error message if I understood correctly @bobiechen-twilio ?

[2021-02-26 16:47] bobiechen-twilio commented on #72
Yes, it's completely safe to ignore (for some reason WebRTC decided to mark them as warning/error messages).
The media factory instance is created when `TVOConnectOptions` is instantiated, as well as the audio device, therefore the messages are printed out here.

[2021-03-12 17:46] #72 closed, assigned to nobody

[2021-03-12 17:48] bobiechen-twilio commented on #71
Hi @jasdeepsaini

We have released the [Voice iOS SDK 6.2.2](https://www.twilio.com/docs/voice/voip-sdk/ios/changelog#622) which includes the fix of the version number in the framework plist. Thanks again for reporting this one.

Best,
-bobie

[2021-03-27 05:37] danhd123 opened #73 "New Issue template links to Video Guides instead of Voice Guides"
### Description

New Issue template links to Video Guides instead of Voice Guides.

### Steps to Reproduce

1. Go to https://github.com/twilio/twilio-voice-ios/issues/new
2. Observe the new issue template.
3. Read the "Before filing an issue please check the the issue is not already addressed by the following:" section

#### Expected Behavior

The "Voice Guides" line should link to the Voice Guide

[2021-03-29 18:32] bobiechen-twilio commented on #73
Thank you so much for reporting this one @danhd123. Fixed in #74.

[2021-03-29 18:32] #73 closed, assigned to nobody

[2021-03-30 11:17] danhd123 opened #75 "Many issues with Twilio and ARKit sessions that provide audio data"
### Description

I've got an ARSession, the configuration for which is an `ARFaceTrackingConfiguration` and has `.providesAudioData` set to `true`. When it was set to `false`, Twilio Voice worked fine, but once it was set to `true`, Twilio breaks.

Background: I'm building, in part, an AR video recorder, and I need to record audio and video. Previously, I was getting audio via a separate `AVCaptur

[2021-04-01 00:24] danhd123 commented on #75
FYI, here's a log when the audio and disconnection work as expected (haven't verified whether `CMSampleBuffer`s from the `ARSession` are being delivered during the call):

[code]

[2021-04-01 00:29] bobiechen-twilio commented on #75
Thanks @danhd123 for providing great details and the SDK log.
Sorry that we couldn't get back to you sooner but I have created an internal ticket for tracking this issue. We will take a deeper look and get back to you.

[2021-04-05 08:14] vaibhavtech1302 commented on #28
I am facing same challenge when app is in background or terminated state the call is not coming else in forground state working fine and my iOS version is 13 and above.

[2021-04-05 17:07] bobiechen-twilio commented on #28
@vaibhavtech1302 Please make sure your app handles PkPushRegistry object at the frontmost element. [@anas-p](https://github.com/anas-p) shared a their solution: https://github.com/twilio/voice-quickstart-ios/issues/308#issuecomment-807933418

[2021-04-21 00:37] bobiechen-twilio commented on #75
Hi @danhd123

Sorry we couldn't get back to you sooner. Although we haven't got a solution but still would like to provide an update:

I have tried adding ARKit and the `ARSessionDelegate` & `ARSCNViewDelegate` protocol methods in the quickstart, as well as the `ARConfiguration` setup that you provided, but since there is no audio data rendering sample code provided I am not sure how to observe th

[2021-04-23 07:47] danhd123 commented on #75
Sure. `_handleAudioSampleBufferOutput` calls, among other things:

[code]
This gets the average audio power of the sample buffer. Monitoring the output of this we have a metering view, the core of which looks like this:
[code]

We are also sometimes recording audio and video (using a similar video recorder to [RosyWriter](https://developer.apple.com/library/archive/samplecode/RosyWriter/Introducti

[2021-04-30 18:44] bobiechen-twilio commented on #75
Hi @danhd123

I've tried the code snippet you provided but we don't seem to observe the audio issue in our environment. I have also reviewed the code snippet in the original issue description and it seems that the application also calls the `DefaultAudioDevice.DefaultAVAudioSessionConfigurationBlock()` when the call has ended. Please note that this configuration block sets the sample rate and buff

[2021-05-03 03:35] slli opened #76 "Request: Add a License file to the project"
Due to company's policy, we can't use this library without a license file.

[2021-05-05 08:23] danhd123 commented on #75
Thanks, that's a good catch. I'll try fixing that, but it may take a few days to get an update on this issue as I'm on another project currently, and not scheduled to go back to this one for a few days.

[2021-05-20 18:48] bobiechen-twilio commented on #76
Hi @slli

Thanks for reaching out. We have added the license description to the README in #77.

[2021-05-20 18:48] #76 closed, assigned to nobody

[2021-06-03 20:52] marcelofabri opened #78 "Carthage + xcframework"
### Description

The SDK is now distributed as an xcframework, and due to that, Carthage support was paused. However,  [Carthage 0.38.0](https://github.com/Carthage/Carthage/releases/tag/0.38.0) supports binary xcframeworks.

### Steps to Reproduce

1. Open https://github.com/twilio/twilio-voice-ios/blob/Releases/twilio-voice-ios.json
2. Check for an xcframework in the format that Carthage expects

[2021-07-28 09:43] weitsungchengkkday opened #80 "Can't get voice when iPhone using VPN software(Outline)"
### Description
When Client User is using  VPN software(Outline) , can not get voice from a incoming call

### Steps to Reproduce

make a call from A Client to B Client

#### Error Message from iOS APP

[code]

#### Expected Behavior

hear voice

#### Actual Behavior

only get signal, with no voice

#### Reproduces How Often

[What percentage of the time does it reproduce?]
Always
#### Logs

[code

[2021-07-28 17:14] bobiechen-twilio commented on #80
Hi @weitsungchengkkday

Thanks for the error message and code snippet. It looks like the ICE candidate negotiation failed which led to the media connection failure, and the restricted network could very likely be the reason.
In case VPN is required for the device while connecting the SDK call and it might provide restricted network access, you can use the [Twilio Network Traversal Service](https:/

[2021-07-29 08:31] weitsungchengkkday commented on #80
Thanks You! @bobiechen-twilio
As you mention above we can add iceOption for restricted network, about these I wonder
1.  if I use old code as I mentioned about  above (without iceOption), does it means no ice server will be used?
2. if I use  ice server Twilio provide, does it means extra fee would be produced for per Call

3. More,  we also use website to get Twilio Voice Call as Client side in s

[2021-07-29 17:47] bobiechen-twilio commented on #78
Hi @marcelofabri,

Thanks for reaching and I feel terrible to not have responded back sooner.
Carthage + XCFramework support has been reenabled in #79.

[2021-07-29 17:47] #78 closed, assigned to nobody

[2021-07-29 17:48] #75 closed, assigned to nobody

[2021-07-29 17:49] #9 closed

[2021-07-29 17:50] #8 closed

[2021-07-29 19:25] marcelofabri commented on #78
Thanks @bobiechen-twilio! Any chance we can add it back to https://github.com/twilio/twilio-chat-ios as well? Should I create an issue in that repo?

[2021-07-29 19:33] bobiechen-twilio commented on #78
Sure thing @marcelofabri! Let's create a ticket in the project so the team can track the progress. 👍

[2021-07-29 19:35] marcelofabri commented on #78
Done: https://github.com/twilio/twilio-chat-ios/issues/32

[2021-07-30 13:20] weitsungchengkkday commented on #80
Thank @bobiechen-twilio
I tried suggestion using ice server, that works! (I modify the code as below)

But I still wonder above three question. Pls help, thanks you.

[code]

[2021-07-30 21:02] bobiechen-twilio commented on #80
Glad that the ICE options solved the issue @weitsungchengkkday.

The Twilio Voice iOS SDK and the JS SDK talk to different Twilio Voice endpoints with different protocols.

Yes, the Network Traversal Service that provides the ICE servers is a separate Twilio service. Using the service will require additional fee other than the Voice call minutes.

The Voice iOS SDK actually uses a default Twilio S

[2021-08-01 02:56] weitsungchengkkday commented on #80
Thank you @bobiechen-twilio
I tried your suggestion turn on the enableIceGatheringOnAnyAddressPorts as  below

[2021-08-01 03:03] weitsungchengkkday commented on #80
Thank you @bobiechen-twilio
I tried your suggestion turn on the enableIceGatheringOnAnyAddressPorts (but not provide iceOption) as below. Unfortunately, it does not work.

I wonder that
1. Does turn on enableIceGatheringOnAnyAddressPorts means using ice server? (even though iceOption is not provided),
2. Does turn on enableIceGatheringOnAnyAddressPort can get more ice candidates? (default only get

[2021-08-03 20:27] bobiechen-twilio commented on #80
Hi @weitsungchengkkday

Sorry that I couldn't get back to you sooner.
Thanks for the update. It does seem that ICE options is the only solution in this environment.

Question - is the restricted network environment (VPN) a requirement for the app that you are working on, or is it only for the dev device?

[2021-08-04 01:56] weitsungchengkkday commented on #80
Hi @bobiechen-twilio
I appreciate your help very much

VPN environment is necessary, because iOS APP need to get essential config file when user login.
Unless user need to turn off the VPN after they login.

I tried only use specific TURN Server as iceOption. I found  UDP protocol TURN server does not work (turn:global.turn.twilio.com:3478?transport=udp),  but other two TCP protocol TURN server wo

[2021-08-04 22:56] lickel opened #82 "Request: add Catalyst slice to XC Framework"
### Description

Xcode rejects doing anything with the library if the catalyst slice is missing. I don't honestly need it to *do* anything, just to avoid bizarre linker issues

### Steps to Reproduce

1. Add Twilio SDK to Xcode for an iOS project
2. Switch target to macCatalyst
3. Attempt to build

#### Expected Behavior

Xcode builds the app

#### Actual Behavior

Build fails:

[code]

#### Repro

[2021-08-11 19:55] bobiechen-twilio commented on #80
Hi @weitsungchengkkday

Apology that I couldn't get back to you sooner.

The SDK uses a default STUN server if none is provided, with or without enabling the `enableIceGatheringOnAnyAddressPorts` flag. When the flag is enabled, the SDK will use some of the "any address" type of network interfaces if others failed the ICE negotiation. In your case unfortunately the SDK was not able to get through t

[2021-08-24 10:32] weitsungchengkkday commented on #80
Thanks @bobiechen-twilio
We use ICE server as  temporary action by now.
And wait for your further info. Thanks you bobie

[2021-10-03 05:54] vinayab-true opened #83 "Command PhaseScriptExecution failed with a nonzero exit code"
### Description

When I add TwilioVoice (6.3.0) into my project using cocoapods ,the build is failing . I am using Apple M1 Mac mini and trying to run the app in ios-arm64_x86_64-simulator. Please find the log below

#### Logs

[code]

#### Voice iOS SDK

6.3.0 via CocoaPods]

#### Xcode

13.0

#### iOS Version

Simulator- iphone12 - ios 15
Mac mini (M1, 2020)

[2021-10-06 18:30] bobiechen-twilio commented on #83
Thanks for reaching out @vinayab-true. We will try to reproduce this and keep you updated.

[2021-10-19 09:59] abhinavsingh opened #84 "unregister notification for read_timeout / write_timeout failed"
### Description

App constantly keeps logging following warnings:

<img width="818" alt="Screen Shot 2021-10-19 at 3 25 17 PM" src="https://user-images.githubusercontent.com/126065/137887516-604b14b8-2bc9-4e1f-9019-88e12f689114.png">

### Steps to Reproduce

These logs can be seen periodically when Twilio SDK is enabled.  If we disable Twilio SDK, these log lines disappear.  We have read Apple for

[2021-10-19 10:07] abhinavsingh opened #85 "answerOnBridge=true for outgoing calls result in no ringtone for caller"
### Description

We have reached out earlier to Twilio support but we haven't heard back.  Apologies for cross posting here but we really want to resolve this.  Customers are't comfortable with default `answerOnBridge=false` for outgoing calls.

When `answerOnBridge=false` for outgoing, caller immediately sees "connected"
When `answerOnBridge=true` for outgoing, caller seems "ringing" (as expected

[2021-10-20 18:24] bobiechen-twilio commented on #84
Hi @abhinavsingh

Thanks for reaching out. As you have figured out, the messages seem to be generated by Apple and don't seem to affect the SDK functionality.

Closing issue since this appears to be an OS issue but please feel free to reach out if you run into trouble integrating the Voice SDK.

Cheers,
-bobie

[2021-10-20 18:24] #84 closed, assigned to nobody

[2021-10-20 18:33] bobiechen-twilio commented on #85
@abhinavsingh Thanks for reaching out and this is a very good question:

By default the `answerOnBridge` flag is disabled and as you already observed the caller will receive a connected event once the parent call leg (from client to Twilio) is connected. When the flag is turned on, the Voice backend will only signal the caller that the call has been connected when the callee has accepted the call.

[2021-10-20 21:09] abhinavsingh commented on #85
@bobiechen-twilio Thank you for clarification and pointing this out.  Feels embarrassing that we missed it in the sample code.  Thank you!!!

[2021-10-20 21:09] #85 closed, assigned to nobody

[2021-10-20 21:55] bobiechen-twilio commented on #85
Glad that I (or the sample code) can help. Feel free reach out again if you need further assistance.

[2021-10-21 17:56] abhinavsingh opened #86 "Outgoing calls doesn't receive fail to connect notification immediately after callee rejects the call"
### Description

If callee rejects the call, outgoing calls doesn't receive didFailToConnect for quite sometime.  In more than 1 scenario, we have also seen, calls being retried.  One such example happened today, here are the call SIDs:

1. Caller `CAb16ca693f70cec316df028db063ef257`
2. Callee `CAfe2f5f0f055b79ee30828ea4ec259a0b`

As you can see, caller received a no-answer notification after 15 s

[2021-10-21 21:46] bobiechen-twilio commented on #86
Although the SDK did receive 480 temp, I did notice some significant delay between different stages of the call signal handshaking (`CAb16ca693f70cec316df028db063ef257`). The records of `CAfe2f5f0f055b79ee30828ea4ec259a0b` look slightly different but from what I can tell the caller received a busy response almost immediately when the call was rejected by the callee.

Since from the SDK perspective

[2021-10-25 12:51] abhinavsingh commented on #86
@bobiechen-twilio Thank you.  I'll also file a ticket with Support team.  However, this issue is reproducible for domestic calls also e.g. calling from an Indian number to another Indian number.  If the callee rejects the call, caller doesn't get any notification about it.  Infact, in most scenarios, we see Twilio automatically retries the call.  Callee rejects again, and thats when caller finally

[2021-10-25 12:51] abhinavsingh commented on #86
What we want to understand is, how can we disable automatic retries?

[2021-10-25 12:53] abhinavsingh commented on #85
We did the integration and then realized there is an edge case :). As in, if user wants to go to speaker immediately, ringtone routing must be done separately.  Overall, we feel `answerOnBridge` is a Twilio provided switch and SDK must know how to work with this flag.  Without putting the onus on the SDK users.  I see, the workflow remains the same and should not change for SDK users, hence this h

[2021-10-25 17:26] bobiechen-twilio commented on #86
Thanks for the update @abhinavsingh.

Since the SDK is only connecting to the TwiML app specified in the access token and does not have additional methods in terms of advanced call options, you might want to discuss with our support experts and see how to configure either the TwiML response or other call options under your account in order to achieve the desired behavior.

[2022-01-27 10:57] SushanDristi commented on #30
Is there any way we can disconnect Twilio voice call when app is terminated.

[2022-01-31 01:47] SushanDristi opened #87 "call.disconnect() is not executed when app is terminated."
Description
When app is terminated, I want to disconnect the call.  I tried to use applicationWillTerminate() to disconnect the call but disconnect() is not executed.

Steps to Reproduce
Using the sample app

call a phone number
wait for the phone to ring
answer the call
kill the app
==>call is not ended on other side

Code

    override func applicationWillTerminate(_ application: UIApplication)

[2022-01-31 16:43] bobiechen-twilio commented on #87
Hi @SushanDristi

The `.disconnect()` method requires a few handshaking steps between the mobile client and the service, which cannot be completed with the time given by the `applicationWillTerminate()` callback. This is currently a known issue/behavior of the SDK.

Sorry for the inconvenience.

[2022-01-31 16:43] #87 closed, assigned to nobody

[2022-02-07 04:23] SushanDristi commented on #87
@bobiechen-twilio
If a user terminated the iOS app, the call is ended on that user app, but the user on the other side of the call is still active. Is there any workaround for this issue?

[2022-02-07 16:56] bobiechen-twilio commented on #87
Hi @SushanDristi

The Voice service has a timer to detect and kill a call if the no audio packets (silence) are received from the client for one minute. In this case even though the mobile client is not able to complete the disconnect process, the call will still end after a minute in case no user action.

[2022-02-10 18:50] softsan opened #89 "Cellular call ends doesn't unhold the Twilio Voip Call"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

I  start a voip call from user A to user B using call kit, sound is routed correctly. I receive a native (Cellular) call on user A. The user A choose "Hold & Answer"

[2022-02-10 18:54] bobiechen-twilio commented on #89
Thanks for reporting this @softsan .

We also found this one and identified that this started happening on iOS 15. We are investigating and hoping to provide fix in the sample app soon.

[2022-02-21 14:38] softsan commented on #89
@bobiechen-twilio Hi Any updates/Suggestions on this? Thanks

[2022-03-15 03:34] bobiechen-twilio commented on #89
Hi @softsan

While this is still an issue on iOS 15, we found that when the app receives the CallKit callback, you can enable the SDK audio device when unholding the call here: https://github.com/twilio/voice-quickstart-ios/blob/master/ObjcVoiceQuickstart/ViewController.m#L674. This should reactivate the audio session and audio should start flowing again.

Let us know how this works for you.

-bob

[2022-03-21 18:22] softsan commented on #89
HI @bobiechen-twilio It seems to be working fine. Thanks for the workaround.
I have another inconsistent issue regarding one-way audio. e.g this is the callsid: `CA6a2671f8f1f828375de221c3c58ffd77` where caller can hear the audio but receive can't.

[2022-03-22 01:11] bobiechen-twilio commented on #89
Hi @softsan

Glad that the original issue has been resolved by the workaround.
For the Call SID you provided, I did see a handful of constant audio input level warnings being raised during the call, but everything looks fine other than that. Did this also happen when testing the hold/unhold behavior?

Please set the SDK log level to DEBUG or above and check if there is any error/warning when the i

[2022-03-24 10:12] rickytribbia opened #90 "Compiling crash with swift 5.6"
### Description

Hi all, thanks for your great work.
We're developing an app that use TwilioVoice and we deploy this app many times in previous months; it has already voice functionality like make/receive voip calls between different user (client)
In these days, indeed, we couldn't archive successfully our app and it seems to be caused by something related to your sdk and latest swift version; I h

[2022-03-24 10:15] bobiechen-twilio commented on #90
Thanks for reporting this @rickytribbia.

I have created an internal ticket for tracking. Will keep you updated.

-bobie

[2022-03-24 10:16] rickytribbia commented on #90
🤩 🤩 🤩

Thank you

[2022-03-24 17:35] softsan commented on #89
@bobiechen-twilio

 No this is happened when the call is picked up. We see this issue with different customer in our prod. environment, but not able to reproduce in our local/dev environment, so can't debug. It is inconsistent.

[2022-03-29 10:19] rickytribbia commented on #90
Hi @bobiechen-twilio any update?
We've tried to reproduce the issue trying to archiving your quickstart project and it happens.
I see that in this repo there is also already the [same issue](https://github.com/twilio/voice-quickstart-ios/issues/497)

[2022-04-04 08:31] rickytribbia commented on #90
Hi, we've an app release waiting to resolve this archiviation issue. Has anyone found a solution or a workaround for this?

[2022-04-08 09:42] gianpispi opened #91 "DTMF tones are not audible from the user who sends them"
Hi everyone!

### Description

We have two iOS apps that use the last version of Twilio Voice (6.3.1). When sending digits, the receiver can hear them, but not the user who sends them.

We have an old version of one of these two apps that integrates the 6.0.2 SDK, and there it works as intended, where both sides can hear the tones.

### Steps to Reproduce

1. Start a call
2. Send a digit via `send

[2022-04-08 16:13] bobiechen-twilio commented on #91
Hi @gianpispi

The Voice SDK does not play DTMF tones for the local client. To workaround this, you can use the playback frameworks such as AVAudioPlayer to play tone files in the app at the same time when calling `sendDigits()`.

[2022-04-08 16:13] #91 closed, assigned to nobody

[2022-04-08 19:22] ream88 commented on #91
@bobiechen-twilio it did this in the past, right? Could playing it locally via AVAudioPlayer lead to sending the DTMF tones multiple times? Because the microphone listens to it, as its played via AVAudioPlayer and therefore the other side hears it a second time?

[2022-04-11 15:05] softsan commented on #89
@bobiechen-twilio  Sorry to bug you again, but that enabling audio in `PerformSetHeldCallAction` works for outgoing call. but doesn't work for incoming call.
Also does One-way audio issue have anything related to `TVODefaultAudioDevice` ?
<img width="1092" alt="Screenshot 2022-04-11 at 8 31 05 PM" src="https://user-images.githubusercontent.com/7391319/162768597-fe9f5639-c6b4-487f-b28e-34f416be6933

[2022-04-13 13:20] michaelmoneypenny commented on #90
This sounds very similar to an issue we're having in our build pipeline when switching to Xcode 13.3 / 13.3.1
The only stable version so far is up to 13.1

[code]

[2022-04-13 17:13] bobiechen-twilio commented on #89
Hi @softsan

It looks like the example code you are referring to was used for previous version of the SDK. In the latest sample app you only have to toggle the audio device in the CallKit audio session (de)activation callbacks: https://github.com/twilio/voice-quickstart-ios/blob/master/ObjcVoiceQuickstart/ViewController.m#L595

[2022-04-13 17:40] softsan commented on #89
@bobiechen-twilio Thanks. Yeah i saw that in latest after I comment. So can this solve that one way audio issue?

I see many users in my prod environment facing this one way audio frequently.

[2022-04-14 14:27] lsitar-FYF commented on #90
@michaelmoneypenny @rickytribbia I am having the same exact issue when trying to archive my project. It runs fine when I build and run on a device but when I archive it gives me Abort Trap 6 with same stack trace. I found a fix by going into Build Settings > 'Enable Bitcode = No'. Not sure if enabling bitcode affects functionality but it let me archive after setting it to NO.

[2022-04-20 08:22] michaelmoneypenny commented on #90
Thanks Isitar, I have read that this is a bitcode issue - if the issue keeps hanging around I will have to disable bitcode. I don't think it will affect functionality, from my very basic understanding it trims the size of your app and allows apple to re-optimise by device it when it reaches the App Store

[2022-05-04 12:58] softsan commented on #89
@bobiechen-twilio  this is sorted out, added code logic for Twilio Audio device enabled or disabled on CallKit's Audio session activate/deactivate, so, now closing this issue.

[2022-05-04 12:58] #89 closed, assigned to nobody

[2022-05-18 20:20] nalexn opened #93 "Add support for Apple's native noise cancellation (aka voice isolation)"
### This is a feature request

Are there any plans on adding support for Apple's programmatic noise cancellation? It is actually available to third-party apps starting from iOS 15: Snapchat, WhatsApp, Slack, Signal, and Instagram are [already using it](https://www.theverge.com/23123578/apple-voice-isolation-facetime-calls).

As [WWDC 2021](https://developer.apple.com/videos/play/wwdc2021/10047/?ti

[2022-05-24 15:46] bobiechen-twilio commented on #93
Hi @nalexn

Thanks for reaching out. I have a created a ticket and we will keep this one in our radar.

-bobie

[2022-05-26 09:22] sgowda97 opened #94 "App crash on calling Voice.connect()"
### Description

App is crashing as soon as I place an audio call.

### Steps to Reproduce

1. Place a call using Voice.connect()

#### Code

[code]

#### Expected Behavior

Outgoing call should happen without crashing.

#### Actual Behavior

Crashes after a few seconds of calling Voice.connect(), the TwiML end-point is not being called either.

#### Reproduces How Often

Always

#### Logs

[code]

[2022-05-26 15:58] bobiechen-twilio commented on #94
Hi @sgowda97

From the stack you provided, I couldn't find the exact reason that caused the crash in thread 1. Is this reproducible in the debugging environment and did you see the system message when it crashed?

[2022-05-27 06:05] sgowda97 commented on #94
Hi @bobiechen-twilio,

The logs I have provided earlier are from ```bt all```. The package is being used with Flutter via Method/Event channels. The code used here is from Twilio's iOS Quickstart with minimal modifications, such as variable names, etc.  The message it produces in Xcode window before crashing is,

[code]

[2022-06-16 20:33] bobiechen-twilio commented on #90
Hi and hope everyone is doing well.
It seems that this issue is no longer reproducible on Xcode 13.4 and Xcode 14 beta.

[2022-06-17 08:54] michaelmoneypenny commented on #90
Hi @bobiechen-twilio I'll try updating our build machine and see what happens, thanks :)

[2022-07-05 13:41] JPrendy opened #96 "CI builds fail on Xcode 13.3.1 and above"
### Description

CI builds on Github Actions are getting cancelled when fetching and checking out 6.3.1/6.4.1 of package `twilio-voice-ios` on Xcode 13.3.1 and above.

### Steps to Reproduce

1. Use the `twilio-voice-ios` as a swift package in your project
2. Try to run some tests on Github Actions CI
3. Go to the logs

#### Code

[code]

#### Expected Behavior

The project should fetch and checko

[2022-07-12 07:43] liyamahendra opened #98 "Outgoing calls are silent for both parties"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

We have been using Twilio Voice in our Android & iOS apps successfully to make and receive calls. Unfortunately, Past couple of days we have been receiving a lot of

[2022-07-12 08:12] liyamahendra commented on #54
I created a TwilioVoice React native Bridge for a client of mine. @idelgado I understand you might be having in-house development team, but let me know if I can help. Happy to collaborate!

[2022-07-12 22:49] bobiechen-twilio commented on #98
Hi @liyamahendra

Thanks for reaching out and providing SDK debugging log.
I've checked the log, as well as the Call SID - it seems the establishment of the media connection went well. For the past two week there is no media connection related error recorded under your Twilio account SID.

Can you check if the app is configuring the audio device properly in the CallKit callback as the quickstart e

[2022-07-13 05:10] liyamahendra commented on #98
Hi @bobiechen-twilio

Yes, I'm doing that
<img width="752" alt="image" src="https://user-images.githubusercontent.com/911879/178655407-171b1041-a9d2-454e-aa5f-91c21816f399.png">

[2022-07-13 17:08] hawkinbj commented on #54
For anyone who might find this thread - I'm the Product lead for the group that builds/maintains the Voice SDKs, and we're actively working on an official Voice React Native SDK for release this year (2022). We're on track to have a Pilot available by late August - please reach out to me if you're interested in testing and/or providing feedback. brhawkins@twilio.com

[2022-07-13 17:18] liemdo commented on #54
@hawkinbj This is an incredible news for Twilio customers. I just sent you an email to participate in the program.

[2022-07-13 18:33] bobiechen-twilio commented on #98
Thanks @liyamahendra

While we do not have the exact code of your application to debug, could you use your account credentials (access token) in the quickstart and see if the audio device issue still persists?
CallKit requires a specific sequence of call progress reporting from the application so that calls can be recorded and removed from the list once done, including audio session activation and

[2022-08-17 16:04] vitalii-tym commented on #28
I had this issue when I forgot to add "Privacy - Microphone Usage Description" record in the registry (not in QuickStart, but already in my project).

**Adding the "Privacy - Microphone..." into info.plist** magically **made the `didReceiveIncomingPushWithPayload` to be called** and it started to work correctly when app is in background/terminated.

[2022-08-25 10:43] ilockett opened #99 "Inconsistent error domains"
### Description

When attempting to make a call with an expired access token, we receive the error:
`Error Domain=com.twilo.voice.error Code=20104`

When attempting to unregister with an expired access token, we receive the error:
`Error Domain=com.twilio.voice.error Code=20104`

Note the two different spellings of Twilio in the error domain.

### Steps to Reproduce

1. Make a call with an expired

[2022-09-21 16:08] rcfrias commented on #44
Me too, apparently this hasn't been solved yet.

[2022-10-11 08:11] liyamahendra commented on #54
@hawkinbj just checking on this - is the React native SDK ready or its still being worked on?

[2022-10-11 14:46] hawkinbj commented on #54
@liyamahendra thanks for checking back in. We recently released our React Native SDK in Pilot, aiming for Public Beta later this year. [Check it out here](https://github.com/twilio/twilio-voice-react-native), and be sure to read the warnings in the README re: Pilot release support expectations. Would love to hear your feedback on how we can improve (brhawkins@twilio.com)

cc: @liemdo https://githu

[2022-11-18 06:11] matsuda-argano opened #100 "I just upgraded version from 6.4.2 to 6.4.3 and the archive is not working."
When I upgraded my version from 6.4.2 to 6.4.3, the archive did not work, so I was investigating the cause and found a suspicious part in the TwilioVoice.xcframework.

It seemed to me that the version update of the following file was not appropriate, what do you think?
TwilioVoice.xcframework/ios-arm64_x86_64-simulator/dSYMs/TwilioVoice.framework.dSYM/Contents/Info.plist

Please note that I am not

[2022-11-18 09:24] Anilkumar18 commented on #13
Hello @bobiechen-twilio
I am running the following version **TwilioVoice 6.2.2** which crashes due to the same issue which was reported above. I have attached the trace below for your reference

[code]

Xcode
13.3

iOS Version
15.2 & 15.1

iOS Device
iPhone XR & iPhone 6s

- Anil

[2022-11-18 22:17] bobiechen-twilio commented on #100
@matsuda-argano
Can you provide the details of the error you encountered? The best practice to integrate or upgrade to the latest version of the SDK will be via the Swift Package Manager.

[2022-11-18 22:19] bobiechen-twilio commented on #13
Hi @Anilkumar18
Thanks for reaching out. We have discontinued the support of the Voice iOS SDK 3.x. Please upgrade and integrate with the latest version of the SDK.

[2022-11-19 10:40] Anilkumar18 commented on #13
Hi @bobiechen-twilio
Thanks for responding back. I used SDK version 6.2.2 and even on 6.4.3 facing the same issue. I has issue while  **TwilioVoiceSDK.register** and **TwilioVoiceSDK.unregister** the SDK. Attached error log above.

[2022-11-20 23:19] matsuda-argano commented on #100
@bobiechen-twilio
To be precise, archiving succeeds.
However, it does not appear in the Organizer of Xcode.
If I check Xcode > Archvies in Finder, I can see the .xcarchive file, but when I try to open it in Xcode, I get an error.
<img width="264" alt="スクリーンショット 2022-11-21 8 12 44" src="https://user-images.githubusercontent.com/106219284/202931847-a9d0783d-3614-4872-83f5-cd38d1f05287.png">

Is ther